Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2021-11, with the labels that each got.

#274 Geometry cant templates
  IFC4x3/Templates/Partial Templates/Geometry/Curve Axis Geometry/Gradient Curve/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry Cant/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry Gradient/DocTemplateDefinition.xml
Labels: Concept Templates

#283 Ifc doc read write
  IFC4x3/Constants/p/PLAINTRACKSUPESTRUCTURE_1jAFj4CKH6cxMc3CHbmxDj.xml
  IFC4x3/Templates/Object Composition/Element Voiding/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Element Voiding/Earthworks Cuttings/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Spatial Service Connectivity/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Spatial Structure/Spatial Interference/Spatial Interference With Zones/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SurfaceModel Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SurfaceOrSolidModel Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/CoG Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface 3D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Survey Points Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Project Context/Project Global Positioning/DocTemplateDefinition.xml
Labels: bug

#284 Remove Partial Template ModelRuleEntity duplication
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Disk Solid Geometry/Swept Disk Solid PolyCurve Directrix/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Geometry/Extruded Area Basic Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Geometry/Extruded Area Composite Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Geometry/Extruded Area CompositeCurve Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Geometry/Extruded Area PolyCurve Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Geometry/Extruded Area Standardized Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Tapered Geometry/Extruded Area Tapered Parameterized Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Extruded Area Tapered Geometry/Extruded Area Tapered PolyCurve Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/FixedReference SweptArea Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/FixedReference SweptArea Geometry/FixedReference SweptArea PolyCurve Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Revolved Area Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Revolved Area Geometry/Revolved Area Basic Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Revolved Area Geometry/Revolved Area CompositeCurve Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Revolved Area Geometry/Revolved Area PolyCurve Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/Revolved Area Geometry/Revolved Area Standardized Profile/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/SurfaceCurve SweptArea Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Solid Model Geometry/Swept Solid Geometry/SurfaceCurve SweptArea Geometry/SurfaceCurve SweptArea PolyCurve Profile/DocTemplateDefinition.xml
Labels: bug

#286 Missing Documentation PW and a Few Common
  IFC4x3/PropertyConstants/b/BARREL_3ECw1OvWX6ve1c8PRfnkYS.xml
  IFC4x3/PropertyConstants/c/CGT_1UkdaAhA96khlUd8AZOYpS.xml
  IFC4x3/PropertyConstants/e/Export_2nAKuQUKzEP8RWpAwK_zOr.xml
  IFC4x3/PropertyConstants/i/Import_0od3wq7Br3pQbNGBU0UeD7.xml
  IFC4x3/PropertyConstants/i/inspection_16wu7t0aT73fnyc9DFzDyK.xml
  IFC4x3/PropertyConstants/i/isolation_15IxonHjP3PP$WGvntkRuz.xml
  IFC4x3/PropertyConstants/n/NONE_00rsh4T2j4PfKgc4o7A7X8.xml
  IFC4x3/PropertyConstants/p/PASSENGER_3_IiGoH9n39RpW5JBRHVr8.xml
  IFC4x3/PropertyConstants/t/TEU_2xPgOd_DX2CObcoiL3__ff.xml
  IFC4x3/PropertyConstants/t/TONNE_2aH8bMIDb50glGBfVLRhNx.xml
  IFC4x3/PropertyConstants/t/Transfer_3NQ5oTnMn3ovjSI_13wuWv.xml
  IFC4x3/PropertyConstants/t/tariffs_1Z9RgS1i55POStnmJWRZTS.xml
  IFC4x3/PropertyConstants/v/VEHICLE_3U_kA$LzHBGwGpExGMvWNF.xml
  IFC4x3/PropertyEnumerations/a/PEnum_AdditionalProcessing.xml
  IFC4x3/PropertyEnumerations/p/PEnum_ProcessDirection.xml
  IFC4x3/PropertyEnumerations/p/PEnum_ProcessItem.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportElement/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportElementType/DocEntity.xml
Labels: bug, documentation

#290 bugs in XML
  IFC4x3/PropertyEnumerations/p/PEnum_ProcessDirection.xml
  IFC4x3/PropertyEnumerations/p/PEnum_ProcessItem.xml
Labels: bug

#285 Rule constraints referencing corrections
  IFC4x3/PropertyConstants/b/BARREL_3ECw1OvWX6ve1c8PRfnkYS.xml
  IFC4x3/PropertyConstants/c/CGT_1UkdaAhA96khlUd8AZOYpS.xml
  IFC4x3/PropertyConstants/e/Export_2nAKuQUKzEP8RWpAwK_zOr.xml
  IFC4x3/PropertyConstants/i/Import_0od3wq7Br3pQbNGBU0UeD7.xml
  IFC4x3/PropertyConstants/i/inspection_16wu7t0aT73fnyc9DFzDyK.xml
  IFC4x3/PropertyConstants/i/isolation_15IxonHjP3PP$WGvntkRuz.xml
  IFC4x3/PropertyConstants/n/NONE_00rsh4T2j4PfKgc4o7A7X8.xml
  IFC4x3/PropertyConstants/p/PASSENGER_3_IiGoH9n39RpW5JBRHVr8.xml
  IFC4x3/PropertyConstants/t/TEU_2xPgOd_DX2CObcoiL3__ff.xml
  IFC4x3/PropertyConstants/t/TONNE_2aH8bMIDb50glGBfVLRhNx.xml
  IFC4x3/PropertyConstants/t/Transfer_3NQ5oTnMn3ovjSI_13wuWv.xml
  IFC4x3/PropertyConstants/t/tariffs_1Z9RgS1i55POStnmJWRZTS.xml
  IFC4x3/PropertyConstants/v/VEHICLE_3U_kA$LzHBGwGpExGMvWNF.xml
  IFC4x3/Templates/Object Connectivity/Spatial Structure/Spatial Interference/Spatial Interference With Zones/Documentation.md
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Annotation Geometry/Annotation 2D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Annotation Geometry/Annotation 3D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Axis Geometry/Axis 2D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Axis Geometry/Axis 3D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedBrep Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body AdvancedSwept Directrix Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body AdvancedSwept DiskSolid PolyCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body AdvancedSwept Tapered Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body Brep Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body CSG Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body Clipping Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SurfaceModel Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SurfaceOrSolidModel Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid Composite Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid CompositeCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid ParameterizedProfile Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid PolyCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body Tessellation Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/FootPrint Geometry/FootPrint Annotation Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/FootPrint Geometry/FootPrint GeomSet Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/FootPrint Geometry/FootPrint GeomSet Geometry/FootPrint GeomSet PolyCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Profile Geometry/Profile 3D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Reference Geometry/Reference SweptSolid Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Reference Geometry/Reference SweptSolid Geometry/Reference SweptSolid PolyCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Reference Geometry/Reference Tessellation Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface 3D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface Tessellation Geometry/DocTemplateDefinition.xml
Labels: bug, Concept Templates

#291 Syncing templates of MVDs
  IFC4x3/Templates/Object Attributes/Object Occurrence Attributes/System Element Attributes/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometry Colour/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometry Layer/DocTemplateDefinition.xml
Labels: Concept Templates

#292 Moving & Renaming Alignment
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Templates/Object Composition/Nesting/Alignment Layout/DocTemplateDefinition.xml
Labels: Concept Templates

#278 CT Body Sectioned Solid Horizontal
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body SectionedSolidHorizontal/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body SectionedSolidHorizontal/Documentation.md
Labels: enhancement, Concept Templates

#277 CT Surface Sectioned Geometry
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcRepresentationResource/Entities/IfcShapeRepresentation/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcRepresentationResource/Functions/IfcShapeRepresentationTypes/Expression.txt
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface Sectioned Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface Sectioned Geometry/Documentation.md
Labels: documentation, enhancement, EXPRESS, Concept Templates

#280 CT Alignment Geometry
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Functions/IfcDimensionsForSIUnit/DocFunction.xml
  IFC4x3/Templates/Partial Templates/Geometry/Curve Axis Geometry/Gradient Curve/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Curve Axis Geometry/Gradient Curve/Documentation.md
  IFC4x3/Templates/Partial Templates/Geometry/Curve Axis Geometry/Segmented Reference Curve/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry Cant/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry Gradient/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Documentation.md
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Axis Geometry/Axis 3D Geometry/TemplateDefinition1/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body SectionedSolidHorizontal/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface Sectioned Geometry/DocTemplateDefinition.xml
Labels: Concept Templates
