Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2021-06, with the labels that each got.

#43 Common improvements and documentation
  IFC4x3/Constants/d/DYNAMICALLYCOMPACTED_0cqNHfOm1FQebwiWAqr_pi.xml
  IFC4x3/Constants/f/FENESTRATION_2QETJRZ6P0G8P7HGcRHULe.xml
  IFC4x3/Constants/f/FOUNDATION_0UjfpPVWP98v5ukrYRJqHa.xml
  IFC4x3/Constants/g/GROUTED_3h7yaBv192owNn0lteQF65.xml
  IFC4x3/Constants/l/LATERAL_1GzDssaxbAmufpGtZoPP7J.xml
  IFC4x3/Constants/l/LOADBEARING_1hNcaNiQPByxOPLWD4hOoE.xml
  IFC4x3/Constants/l/LONGITUDINAL_0k4SnEIKP3eQNUDPFSWApR.xml
  IFC4x3/Constants/o/OUTERSHELL_2xcH0qqWHEIgpu3IiOB75J.xml
  IFC4x3/Constants/p/PICTORAL_0DQlBvX9b0QvSkj8f0b$6h.xml
  IFC4x3/Constants/r/REGION_1UCtBdxyD3IhR0nOLSW6Tb.xml
  IFC4x3/Constants/r/ROLLERCOMPACTED_1ChLsSvKnA6PuvwxHPcoBZ.xml
  IFC4x3/Constants/t/TRANSPORT_2T1Cc0KKj2TPPRHbZV_4lt.xml
  IFC4x3/Constants/v/VERTICAL_08SSceq85EMRKB2Fc3nbFV.xml
  IFC4x3/Properties/f/FrictionAngle_1XV$MSCjTDXgy6O1qRcwC4/Documentation.md
  IFC4x3/PropertyConstants/b/BOULDERS_1ie7oIbTnFEwD6TrhZjWo$.xml
  IFC4x3/PropertyConstants/d/DEMOLISH_1ImWWTgxn0Rx9Wgwk3G9XM.xml
  IFC4x3/PropertyConstants/d/DEPOSIT_0DVaT1Rv96cBzn29P5Smzd.xml
  IFC4x3/PropertyConstants/e/ENVIRONMENTAL_2KGOWhnpHBCfIpU0ath7ca.xml
  IFC4x3/PropertyConstants/e/EXISTING_0zWzHkBQH9KPgJBhLqZc5Z.xml
  IFC4x3/PropertyConstants/f/FEEDSTOCK_02FEFRNlLFWvhWbOFeIyx8.xml
  IFC4x3/PropertyConstants/g/GEOLOGICAL_1vUEt1h_b7h9dV7ILTpIQl.xml
  IFC4x3/PropertyConstants/g/GEOTHERMAL_02rLg43aPAYOpMcsTCdnqp.xml
  IFC4x3/PropertyConstants/h/HYDROCARBON_0n2Dmu9JrDkPUMh_j_Vs_w.xml
  IFC4x3/PropertyConstants/h/HYDROGEOLOGICAL_3S9sjJd01Cdw1ueClJq4$H.xml
  IFC4x3/PropertyConstants/m/MINERAL_1XdZFBGZXDaen$_wtXMGsg.xml
  IFC4x3/PropertyConstants/n/NEW_2Mmm0WNuPEsxi1hfv0PzYn.xml
  IFC4x3/PropertyConstants/n/NOTKNOWN_0_n254Fb10hBW_0_XIj7Qe.xml
  IFC4x3/PropertyConstants/p/PEDOLOGICAL_0fE7x1gUD5Sx$WvKM8$vEz.xml
  IFC4x3/PropertyConstants/s/SITE_INVESTIGATION_1odET2LDnFSx5JpmfTDoFM.xml
  IFC4x3/PropertyConstants/s/STORAGE_0xldNNpQLDhBbvThu_ZWXS.xml
  IFC4x3/PropertyConstants/t/TEMPORARY_3MpsFaeAD33h8OSkOafpSq.xml
  IFC4x3/PropertyConstants/u/UNSET_01y959UgrAlvv6_W__S9Ap.xml
  IFC4x3/PropertyEnumerations/e/PEnum_ElementStatus.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcBuiltSystem/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcCourse/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcCourseType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcEarthworksCut/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcEarthworksFill/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcImpactProtectionDevice/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcImpactProtectionDeviceType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcPavement/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcPavementType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcReinforcedSoil/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcSign/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcSignType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcSignal/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcSignalType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_BoreholeCommon/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcBuiltSystemTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcFacilityPartCommonTypeEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcFacilityUsageEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcImpactProtectionDeviceTypeSelect/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcInterferenceSelect/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcPavementTypeEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcSpatialReferenceSelect/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcTransportElementNonFixedTypeEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcTransportElementTypeSelect/Documentation.md
Labels: documentation

#65 corrections of nbsp Error
  IFC4x3/Constants/b/BOUNDARY_3q7n1HNHLAyflKLDtQrdbK.xml
  IFC4x3/Constants/i/INTERSECTION_0zqNMuub18ohwzalcYuHnk.xml
  IFC4x3/Constants/l/LANDMARK_2T_Mjk41nC4Rw2antpeR1i.xml
  IFC4x3/Constants/r/REFERENCEMARKER_37hLLOhCD2TeXGmYxseRku.xml
Labels: bug

#34 New proposal for a Pset_PavementCommon
  IFC4x3/Properties/n/NominalLength_0NS18P1J51kRFniH3h5CIL/DocProperty.xml
  IFC4x3/Properties/n/NominalLength_0NS18P1J51kRFniH3h5CIL/Documentation.md
  IFC4x3/Properties/n/NominalThicknessEnd_2dzrJAQ351fhj1A45yJpqq/DocProperty.xml
  IFC4x3/Properties/n/NominalThicknessEnd_2dzrJAQ351fhj1A45yJpqq/Documentation.md
  IFC4x3/Properties/n/NominalThickness_3cTq6sD71BVAf9l72L6lIy/DocProperty.xml
  IFC4x3/Properties/n/NominalThickness_3cTq6sD71BVAf9l72L6lIy/Documentation.md
  IFC4x3/Properties/s/StructuralSlopeType_3xWq8r8qv1fe3unGZTNN_f/DocProperty.xml
  IFC4x3/Properties/s/StructuralSlopeType_3xWq8r8qv1fe3unGZTNN_f/Documentation.md
  IFC4x3/Properties/s/StructuralSlope_0p7_egygj3puc4u$Co$FM1/DocProperty.xml
  IFC4x3/Properties/s/StructuralSlope_0p7_egygj3puc4u$Co$FM1/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoad/PropertySets/Pset_PavementCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoad/PropertySets/Pset_PavementCommon/Documentation.md
Labels: IFC4x3_RC4, enhancement

#79 Interim removal rail UML properties.
  IFC4x3/Properties/d/DiscretizedPoint_1kFkAWl8bENwgwez2QLjSi/DocProperty.xml
  IFC4x3/Properties/d/Domain_1$2y5TuiLBcxmqFxnOkk33/DocProperty.xml
  IFC4x3/Properties/i/IsActive_0mJ9A6E3v5X8V7D9oqqxIg/DocProperty.xml
  IFC4x3/Properties/i/IsHollow_1EF19muOTAPOV0fuaJ8Sue/DocProperty.xml
  IFC4x3/Properties/i/IsInsulated_2QERdpVoD2Oe5a2PjN6eEb/DocProperty.xml
  IFC4x3/Properties/i/IsOutdoor_0Jpabsw495ZPPsztu8DmjX/DocProperty.xml
  IFC4x3/Properties/i/IsTemporary_3nB5pYBQP2oguRQt4mww9e/DocProperty.xml
  IFC4x3/Properties/i/IsUnderground_3nApQJBCvErQ7HJ9xycY8F/DocProperty.xml
  IFC4x3/Properties/i/IsWireLess_1caGqSgX9Eq8A9xt_DHWUs/DocProperty.xml
  IFC4x3/Properties/r/RailwayPowerSupplyFacilityType_1wTKqfwjH17fTzUFjOd3kW/DocProperty.xml
  IFC4x3/Properties/r/ReservationZoneType_1oQwXwzaX0Wu8VmV3KxF$G/DocProperty.xml
  IFC4x3/Properties/s/SensorMode_0ybGjOPn18dRGkTtCyXwOv/DocProperty.xml
  IFC4x3/Properties/s/SignAspect_1YRtRACiPAVR_5z5cYdb8h/DocProperty.xml
  IFC4x3/Properties/s/SignType_0sPj88PyLFJPw2WJXNhkIa/DocProperty.xml
  IFC4x3/Properties/s/SignalAspect_0wFqQTV6L7dBeupNv_wI3S/DocProperty.xml
  IFC4x3/Properties/s/SignalType_0y9TUh_Sv6wR0nzHkJ0BAx/DocProperty.xml
  IFC4x3/Properties/s/StandardDeviationHorizontal_0pOtz_gw921B$yTh4VE$0U/DocProperty.xml
  IFC4x3/Properties/s/StandardDeviationVertical_3YNlte3bHEpQ0c_QxSeQb6/DocProperty.xml
  IFC4x3/Properties/t/TelephoneType_3ll$omjCTCjPYzeRkpk_mo/DocProperty.xml
  IFC4x3/Properties/t/TransformerType_3nfKmZH19FRBXiA4ssIVmU/DocProperty.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_AudioVisualApplianceTypeRailwayCommunicationTerminal/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_CableConduitGeneral/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_DiscretizedPointListCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_DoorTypeTurnstile/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_MechanicalFastener/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_OutletTypeCommunication/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailJoint/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailJoint/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailJoint_Welded/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailJoint_Welded/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailwayEnergyReservation/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailwayPowerSupplyFacility/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailwayReservation/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailwaySignGeneral/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_RailwaySignalGeneral/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_Sleeper/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_TransponderGeneral/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/PropertySets/Pset_VoltageAndCurrentTransformer/DocPropertySet.xml
Labels: invalid

#72 Feature: README badges for Issue management
  .github/workflows/issue-management.yml
  README.md
Labels: Process

#88 IfcReferentTypeEnum constants order revised
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcReferentTypeEnum/DocEnumeration.xml
Labels: IFC4x3_RC4, bug

#85 Further rail property removal
  IFC4x3/PropertyConstants/a/AUTO_TRANSFORMER_1$c9j0qeX4LuM2QuqcpiDD.xml
  IFC4x3/PropertyConstants/a/AUXILIARY_TRANSFORMER_3Iu4wY1L98_QjZTz4YQH7w.xml
  IFC4x3/PropertyConstants/b/BOOSTER_TRANSFORMER_0E1KJ4Kr157eINclYD5ZcA.xml
  IFC4x3/PropertyConstants/c/CURRENTRETURNZONE_0eQFZd5ZzDlBgNeFPLE9kw.xml
  IFC4x3/PropertyConstants/d/DECOUPLER_TRANSFORMER_3ZEYjbj758XeLBdJNm9K6O.xml
  IFC4x3/PropertyConstants/e/EARTHINGZONE_1aNFBGFSrBeflj44T_oYA9.xml
  IFC4x3/PropertyConstants/e/ELECTRICTRANSFERTZONE_3X20NfPz16GA0eF5sOESzP.xml
  IFC4x3/PropertyConstants/r/RAILWAY_AUTOTRANSFORMER_POST_061wqZgu95W94TYrZmkirZ.xml
  IFC4x3/PropertyConstants/r/RAILWAY_SUBSTATION_2wb41kaDXF$RAlTvxSSvJT.xml
  IFC4x3/PropertyConstants/r/RAILWAY_TRACTION_POST_3lIHKDwF10h8zjiWcDBAuW.xml
  IFC4x3/PropertyConstants/t/TRACKSIDE_TELEPHONE_177oNzPP9DQgx4dFktUMEL.xml
  IFC4x3/PropertyConstants/t/TRACTION_TRANSFORMER_0eTgBy3ALDLvCjZ6dKOmAc.xml
  IFC4x3/PropertyConstants/t/TUNNEL_EMERGENCY_TELEPHONE_1fssB7rWX0JOw01FFA292b.xml
  IFC4x3/PropertyConstants/u/UNDERGROUNDLINEZONE_3QjU429Qv9VeUWQT2uwvqc.xml
  IFC4x3/PropertyEnumerations/c/PEnum_CommunicationTerminalType.xml
  IFC4x3/PropertyEnumerations/e/PEnum_EnergyReservationZone.xml
  IFC4x3/PropertyEnumerations/r/PEnum_RailwayPowerSupplyFacilityType.xml
  IFC4x3/PropertyEnumerations/v/PEnum_VolategAndCurrentTransformerType.xml
Labels: invalid

#89 Copyright updates
  IFC4x3/ModelViews/Design Transfer View/DocModelView.xml
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/ModelViews/Reference View/DocModelView.xml
  IFC4x3/Publications/Bridge Model Views/DocPublication.xml
  IFC4x3/Publications/Bridge Model Views/Documentation.md
  IFC4x3/Publications/General/DocPublication.xml
  IFC4x3/Publications/General/Documentation.md
  IFC4x3/Sections/Scope/DocSection.xml
Labels: IFC4x3_RC4, documentation

#99 Remove Disused Sweeps
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/Entities/IfcDirectrixDistanceSweptAreaSolid/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/Entities/IfcDirectrixDistanceSweptAreaSolid/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/Entities/IfcInclinedReferenceSweptAreaSolid/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/Entities/IfcInclinedReferenceSweptAreaSolid/Documentation.md
Labels: EXPRESS, IFC4x3_RC4

#100 Found a couple of missing indentations
  IFC4x3/Constants/h/HELMERTCURVE_14V3RUc6LFh9bZo1rEFhxL.xml
  IFC4x3/Constants/s/SINECURVE_33lTdYQrv7DB7H9wXvDAvN.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSurfaceCurve/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationOrganizationResource/Entities/IfcLightSourceSpot/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcQuantityResource/Entities/IfcQuantityWeight/DocEntity.xml
Labels: IFC4x3_RC4, documentation

#76 Updates in alignment model
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Entities/IfcAlignmentCantSegment/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Entities/IfcAlignmentVerticalSegment/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSine/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcThirdOrderPolynomialSpiral/DocEntity.xml
Labels: EXPRESS, IFC4x3_RC4

#68 mistake with markdown styling
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcFixedReferenceSweptAreaSolid/Documentation.md
Labels: documentation, enhancement
