Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2021-10, with the labels that each got.

#268 Correcting Body Constraint & errors in other geometry Identifiers
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedBrep Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body AdvancedSwept Directrix Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body AdvancedSwept DiskSolid PolyCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body AdvancedSwept Tapered Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/Body SectionedSolidHorizontal/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body AdvancedSweptSolid Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body Brep Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body CSG Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body Clipping Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SurfaceModel Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SurfaceOrSolidModel Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid Composite Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid CompositeCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid ParameterizedProfile Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/Body SweptSolid PolyCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body SweptSolid Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Body Geometry/Body Tessellation Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Clearance Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/CoG Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Lighting Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Profile Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Profile Geometry/Profile 3D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Reference Geometry/Reference SweptSolid Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Reference Geometry/Reference SweptSolid Geometry/Reference SweptSolid PolyCurve Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Reference Geometry/Reference Tessellation Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface 3D Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Surface Geometry/Surface Tessellation Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Survey Points Geometry/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Type Shape/Product Type Geometric Representation/Type Body Geometry/DocTemplateDefinition.xml
Labels: bug, Concept Templates

#264 Missing Inverse Attributes and Spatial Interference CTs
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcSpatialElement/DocEntity.xml
  IFC4x3/Templates/Object Connectivity/Spatial Structure/Spatial Interference/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Spatial Structure/Spatial Interference/Documentation.md
  IFC4x3/Templates/Object Connectivity/Spatial Structure/Spatial Interference/Spatial Interference With Zones/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Spatial Structure/Spatial Interference/Spatial Interference With Zones/Documentation.md
Labels: enhancement, EXPRESS, Concept Templates

#262 First draft spatial Decomposition updates
  IFC4x3/Templates/Object Composition/Aggregation/Spatial Composition/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Aggregation/Spatial Composition/Documentation.md
  IFC4x3/Templates/Object Composition/Aggregation/Spatial Decomposition/Documentation.md
Labels: Concept Templates

#266 Add Product Span Positioning
  IFC4x3/Templates/Object Connectivity/Product Span Positioning/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Product Span Positioning/Documentation.md
Labels: Concept Templates

#275 Project Global Positioning review
  IFC4x3/Templates/Project Context/Project Global Positioning/DocTemplateDefinition.xml
  IFC4x3/Templates/Project Context/Project Global Positioning/Documentation.md
Labels: documentation, Concept Templates

#267 Update of Grid Placement CT
  IFC4x3/Templates/Product Shape/Product Placement/Product Grid Placement/DocTemplateDefinition.xml
Labels: Concept Templates

#273 Group Spatial Connectivity CT
  IFC4x3/Templates/Object Connectivity/Group Spatial Connectivity/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Group Spatial Connectivity/Documentation.md
Labels: enhancement, Concept Templates
