Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2021-09, with the labels that each got.

#191 IfcUnitaryControlElement Rail Import BIMQ 2021-07-21T07:49:23.6924211Z
  IFC4x3/Properties/i/IK_Code_2kpG9_rK93LwNz4pCQcRnH/DocProperty.xml
  IFC4x3/Properties/n/NominalPower_2pu16hiH1CqQv04BNgxAph/DocProperty.xml
  IFC4x3/Properties/n/NominalPower_2pu16hiH1CqQv04BNgxAph/Documentation.md
  IFC4x3/Properties/n/NumberOfInterfaces_3D0wHuI4P3guCzHoS3Y4Zf/DocProperty.xml
  IFC4x3/Properties/n/NumberOfInterfaces_3D0wHuI4P3guCzHoS3Y4Zf/Documentation.md
  IFC4x3/Properties/n/NumberOfManagedBTSs_0OHaQ3VtPDL8_RM8WL2hWr/DocProperty.xml
  IFC4x3/Properties/n/NumberOfManagedBTSs_0OHaQ3VtPDL8_RM8WL2hWr/Documentation.md
  IFC4x3/Properties/n/NumberOfManagedCarriers_2dXLs2JgDDJAUunNKdvGyu/DocProperty.xml
  IFC4x3/Properties/n/NumberOfManagedCarriers_2dXLs2JgDDJAUunNKdvGyu/Documentation.md
  IFC4x3/Properties/r/ReferenceAirRelativeHumidity_1wG8Xp53PDOPLBMvLK0g1J/DocProperty.xml
  IFC4x3/Properties/r/ReferenceAirRelativeHumidity_1wG8Xp53PDOPLBMvLK0g1J/Documentation.md
  IFC4x3/Properties/r/ReferenceEnvironmentTemperature_2vgOshA4D0$ems5HSBwemr/DocProperty.xml
  IFC4x3/Properties/r/ReferenceEnvironmentTemperature_2vgOshA4D0$ems5HSBwemr/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_UnitaryControlElementBaseStationController/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_UnitaryControlElementBaseStationController/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_UnitaryControlElementTypeControlPanel/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_UnitaryControlElementTypeControlPanel/Documentation.md
Labels: documentation, properties

#259 Product Linear Placement template update
  IFC4x3/Templates/Product Shape/Product Placement/Product Linear Placement/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Placement/Product Linear Placement/Documentation.md
Labels: Concept Templates

#239 Surface Feature Adherence CT
  IFC4x3/Templates/Object Composition/Surface Feature Adherence/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Surface Feature Adherence/Documentation.md
Labels: enhancement, Concept Templates

#238 Update Spatial Service Connectivity CT
  IFC4x3/Templates/Object Connectivity/Spatial Service Connectivity/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Spatial Service Connectivity/Documentation.md
Labels: Concept Templates
