Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2021-07, with the labels that each got.

#114 IfcRelInterferesElements documentation correction
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelInterferesElements/Documentation.md
Labels: documentation

#63 correction of Feature Element documentation Fixes #29
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcFeatureElementAddition/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcFeatureElementSubtraction/Documentation.md
Labels: IFC4x3_RC4, bug, documentation

#64 IfcRelAdheresToElement authoring
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/DocSchema.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcElement/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelAdheresToElement/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelAdheresToElement/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/DocSchema.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/Entities/IfcSurfaceFeature/DocEntity.xml
Labels: EXPRESS, IFC4x3_RC4, bug, enhancement

#40 Update IfcRelInterferesElement DocEntity & Documentation
  IFC4x3/Constants/i/INTERFERENCE_1YJr7LhNL3efA_mK43uKGl.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelInterferesElements/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelInterferesElements/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcSpatialZoneTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC4x3_RC4, documentation

#125 Wrong schema reference in description
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/Documentation.md
Labels: documentation

#123 Shared infra schema Doumentation
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBuiltSystem/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBuiltSystem/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/PropertySets/Pset_Uncertainty/DocPropertySet.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/PropertySets/Pset_Uncertainty/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcAnnotationTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcAnnotationTypeEnum/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcBuiltSystemTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcBuiltSystemTypeEnum/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcFacilityPartCommonTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcFacilityPartCommonTypeEnum/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcFacilityPartTypeSelect/DocSelect.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcFacilityPartTypeSelect/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcFacilityUsageEnum/DocEnumeration.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcFacilityUsageEnum/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcInterferenceSelect/DocSelect.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcInterferenceSelect/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcSpatialReferenceSelect/DocSelect.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcSpatialReferenceSelect/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcTransportElementNonFixedTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcTransportElementNonFixedTypeEnum/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcTransportElementTypeSelect/DocSelect.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcTransportElementTypeSelect/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Documentation.md
Labels: EXPRESS, documentation

#126 Added entry for IfcCardinalPointReference
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/Types/IfcCardinalPointReference/Documentation.md
Labels: EXPRESS, documentation

#128 Reorganized elements in IfcRail Domain
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAlignmentCant/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAlignmentCant/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcDistributionBoard/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcDistributionBoard/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcDistributionBoardType/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcDistributionBoardType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcElectricFlowTreatmentDevice/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcElectricFlowTreatmentDevice/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcElectricFlowTreatmentDeviceType/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcElectricFlowTreatmentDeviceType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcMobileTelecommunicationsAppliance/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcMobileTelecommunicationsAppliance/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcMobileTelecommunicationsApplianceType/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcMobileTelecommunicationsApplianceType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcDistributionBoardTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcElectricFlowTreatmentDeviceTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcElectricFlowTreatmentDeviceTypeEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcMobileTelecommunicationsApplianceTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcMobileTelecommunicationsApplianceTypeEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRail/DocSchema.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/DocSchema.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcRail/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcRail/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcRailType/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcRailType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcRailway/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcRailway/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcTrackElement/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcTrackElement/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcTrackElementType/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcTrackElementType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Types/IfcRailTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Types/IfcRailTypeEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Types/IfcRailwayPartTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Types/IfcRailwayPartTypeEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Types/IfcRailwayTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Types/IfcTrackElementTypeEnum/DocEnumeration.xml
Labels: EXPRESS, documentation

#133 where rules for IfcRail reorganisation
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcDistributionBoard/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcElectricFlowTreatmentDevice/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcMobileTelecommunicationsAppliance/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcRail/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Entities/IfcTrackElement/DocEntity.xml
Labels: EXPRESS, bug

#129 Partial Template for Alignment Transition Viennese Bend
  IFC4x3/Templates/Partial Templates/Geometry/Curve Segment Geometry/Viennese Bend Transition Segment/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Geometry/Curve Segment Geometry/Viennese Bend Transition Segment/Documentation.md
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry Gradient/DocTemplateDefinition.xml
Labels: Concept Templates, documentation

#136 Save after documentation generation and PR closing
  IFC4x3/ChangeSets/IFC2x3 to IFC4 4.0.0.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4 Addendum 1 4.0.1.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4 Addendum 2 4.0.2.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4 Addendum 2 Technical Corrigendum 1 4.0.2.1/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x1 Final 4.1.0.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x2 Candidate 4.2.0.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x2 to IFC4x3_RC1/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC1 to IFC4x3_RC2/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC2 Update/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC2 to IFC4x3_RC3/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC3 to RC4/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC4 Update/DocChangeSet.xml
  IFC4x3/Constants/m/MOBILENETWORK_0g1gGk3gvEXBIhMvyBXdMg.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/DocSchema.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSine/DocEntity.xml
Labels: IFC4x3_RC4

#127 Bringing back Body-Fallback
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcRepresentationResource/Entities/IfcShapeRepresentation/Documentation.md
Labels: documentation

#135 Alignment vertical image replacement
  IFC4x3/figures/ifcalignment2dverticalsegment.png
Labels: documentation, enhancement

#137 ConstantTerm changed to OPTIONAL for IfcCosine
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcCosine/DocEntity.xml
Labels: EXPRESS

#142 IfcAlignmentSegment documentation
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAlignmentSegment/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAlignmentSegment/Documentation.md
Labels: EXPRESS, documentation

#143 Alignment semantic documentation vertical
  IFC4x3/Constants/c/CIRCULARARC_2oOPMXkJz5HPDm05vV_d6O.xml
  IFC4x3/Constants/c/CLOTHOID_35dYjaqAz3VPYqYea78nAG.xml
  IFC4x3/Constants/c/CONSTANTGRADIENT_0o2j71ZzjCcvchS$MxfJol.xml
  IFC4x3/Constants/p/PARABOLICARC_0I31$UIXXDOuYw__sJmCDk.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Entities/IfcAlignmentVerticalSegment/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Types/IfcAlignmentVerticalSegmentTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Types/IfcAlignmentVerticalSegmentTypeEnum/Documentation.md
  IFC4x3/figures/ifcalignmentverticalsegmenttypeenum-arc_curvature.png
  IFC4x3/figures/ifcalignmentverticalsegmenttypeenum-arc_length.png
  IFC4x3/figures/ifcalignmentverticalsegmenttypeenum-arc_z_s.png
  IFC4x3/figures/ifcalignmentverticalsegmenttypeenum-clothoid_curvature.png
  IFC4x3/figures/ifcalignmentverticalsegmenttypeenum-parabola1.png
  IFC4x3/figures/ifcalignmentverticalsegmenttypeenum-parabola2.png
  IFC4x3/figures/ifcalignmentverticalsegmenttypeenum-parabola3.png
Labels: EXPRESS, IFC4x3_RC4

#144 Spiral doc
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcClothoid/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcClothoid/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSecondOrderPolynomialSpiral/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSecondOrderPolynomialSpiral/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSeventhOrderPolynomialSpiral/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSeventhOrderPolynomialSpiral/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcThirdOrderPolynomialSpiral/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcThirdOrderPolynomialSpiral/Documentation.md
  IFC4x3/figures/ifcclothoid_arclength.PNG
  IFC4x3/figures/ifcclothoid_curvature.PNG
  IFC4x3/figures/ifcclothoid_parameterisation.PNG
  IFC4x3/figures/ifcclothoid_parameterisation_10303.PNG
  IFC4x3/figures/ifcsecondorderpolynomialspiral_curvature.PNG
  IFC4x3/figures/ifcsecondorderpolynomialspiral_theta.PNG
  IFC4x3/figures/ifcseventhorderpolynomialspiral_curvature.PNG
  IFC4x3/figures/ifcseventhorderpolynomialspiral_theta.PNG
  IFC4x3/figures/ifcspiral_parameterization.PNG
  IFC4x3/figures/ifcthirdorderpolynomialspiral_curvature.PNG
  IFC4x3/figures/ifcthirdorderpolynomialspiral_theta.PNG
Labels: EXPRESS, documentation

#146 IfcAlignment documentation
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAlignment/Documentation.md
Labels: documentation

#147 Documentation IfcAlignmentHorizontalSegmentTypeEnum.CUBIC
  IFC4x3/Constants/c/CUBICSPIRAL_21hOPMUMn1mvG3F$Y7iNv3.xml
  IFC4x3/Constants/c/CUBIC_2zPyKsqGvAMAYozqlaSFKO.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Types/IfcAlignmentHorizontalSegmentTypeEnum/DocEnumeration.xml
  IFC4x3/figures/ifcalignmenthorizontalsegmenttypeenum-cubic.png
  IFC4x3/figures/ifcalignmenthorizontalsegmenttypeenum-cubic_general.png
Labels: EXPRESS, documentation

#148 Update IfcSine and IfcCosine
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcCosine/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSine/DocEntity.xml
Labels: EXPRESS

#141 Alignment semantic documentation cant
  .gitignore
  IFC4x3/Constants/b/BLOSSCURVE_0hYbIcTB5DJhg8TxL3hntC.xml
  IFC4x3/Constants/c/CONSTANTCANT_293sF9bKzF58$CtLOqiX9A.xml
  IFC4x3/Constants/c/COSINECURVE_1EPwu89RnE2wA$LkEQYGUK.xml
  IFC4x3/Constants/h/HELMERTCURVE_1qak5zKIL9hepxekxNx$60.xml
  IFC4x3/Constants/l/LINEARTRANSITION_0_mNESnIj88wTzLNr1a6$1.xml
  IFC4x3/Constants/s/SINECURVE_3jBKjsnmX4QA73Bh_qTnj0.xml
  IFC4x3/Constants/v/VIENNESEBEND_2Z8G0iUzb0sQDw_7$tEcwv.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAlignmentCant/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Entities/IfcAlignmentCantSegment/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Types/IfcAlignmentCantSegmentTypeEnum/Documentation.md
  IFC4x3/figures/ifcalignmentcant_structural_gauge_and_cant.png
  IFC4x3/figures/ifcalignmentcant_wojtczak_2018.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-CantAngle.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-blosscurve.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-constantcant.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-cosinecurve.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-helmertcurve.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-lineartransition.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-sinecurve.png
  IFC4x3/figures/ifcalignmentcantsegmenttypeenum-viennesebend.png
Labels: EXPRESS, documentation

#139 Update Spatial Description needed by IFC Rail
  IFC4x3/Constants/i/INTERFERENCE_1YJr7LhNL3efA_mK43uKGl.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelInterferesElements/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelInterferesElements/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcSpatialZoneTypeEnum/DocEnumeration.xml
Labels: EXPRESS, documentation

#81 Documentation restoration and adjustment
  IFC4x3/Constants/a/ARMOURUNIT_1sCgu9mm17zeLCq07JN_jx.xml
  IFC4x3/Constants/g/GATE_2MP2DrfTLEFgdr4qwD3Myf.xml
  IFC4x3/Constants/i/INDUCTOR_0BXIG4ftT7ouNj9zhN_LwG.xml
  IFC4x3/Constants/p/PAVING_0G7IOuwc53T8kTAu9WWm8B.xml
  IFC4x3/Constants/p/POST_1Nv42Mci9BK8$quroSAD99.xml
  IFC4x3/Constants/r/RIGID_FRAME_0rPy3cpsL3GOoUbqMxsleH.xml
  IFC4x3/Constants/v/VENDINGMACHINE_1LWUDi7xvEVea4qRQmnI9n.xml
  IFC4x3/Constants/w/WIRELESS_1PVy_ulgv2UxMkUk$d2jZk.xml
  IFC4x3/Properties/c/CurveShape_3O7zTf47TB3hWv3KJi7PR5/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAnnotation/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBuilding/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBuildingStorey/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBuiltElement/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBuiltElementType/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcElementAssembly/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcGeographicElement/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcGeographicElementType/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelReferencedInSpatialStructure/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcSpatialStructureElement/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcSystem/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportElement/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportElementType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcDistributionBoardType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcElectricFlowTreatmentDeviceType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcMobileTelecommunicationsApplianceType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralAnalysisDomain/Entities/IfcStructuralAnalysisModel/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcSweptDiskSolid/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcDoor/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcDoorType/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcRailing/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcDoorTypeOperationEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgServiceElements/Entities/IfcDistributionSystem/Documentation.md
Labels: documentation

#145 Added documentation for IfcRailwayPartTypeEnum
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/Types/IfcRailwayPartTypeEnum/Documentation.md
  IFC4x3/figures/IfcRailwayPartTypeEnum-global.png
  IFC4x3/figures/IfcRailwayPartTypeEnum-track.png
Labels: documentation

#149 RC4 changes set and regeneration of spec
  IFC4x3/ChangeSets/IFC2x3 to IFC4 4.0.0.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4 Addendum 1 4.0.1.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4 Addendum 2 4.0.2.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4 Addendum 2 Technical Corrigendum 1 4.0.2.1/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x1 Final 4.1.0.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x2 Candidate 4.2.0.0/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x2 to IFC4x3_RC1/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC1 to IFC4x3_RC2/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC2 Update/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC2 to IFC4x3_RC3/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC3 to IFC4x3_RC4/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC3 to RC4/DocChangeSet.xml
  IFC4x3/ChangeSets/IFC4x3_RC4 Update/DocChangeSet.xml
  IFC4x3/Constants/a/ARMOURUNIT_1sCgu9mm17zeLCq07JN_jx.xml
  IFC4x3/Constants/c/CUBIC_2zPyKsqGvAMAYozqlaSFKO.xml
  IFC4x3/Constants/p/PARABOLICARC_0I31$UIXXDOuYw__sJmCDk.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAnnotation/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBuiltElementType/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRelInterferesElements/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportElement/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcSweptDiskSolid/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcClothoid/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSecondOrderPolynomialSpiral/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcSeventhOrderPolynomialSpiral/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcThirdOrderPolynomialSpiral/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ElementKinematics/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ElementKinematics/Documentation.md
Labels: release

#192 Correcting typo for multiple IfcSurfaceFeasture in IfcRelAdheres
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/Entities/IfcSurfaceFeature/DocEntity.xml
Labels: EXPRESS
