Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2022-08, with the labels that each got.

#456 Update IfcMaterial documentation
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/Entities/IfcMaterial/Documentation.md
Labels: EXPRESS, IFC Tunnel

#427 possibility to reference external datasets (IfcExternalDatasetReference)
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/DocSchema.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcRelAssociatesDataset/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcRelAssociatesDataset/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/DocSchema.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDatasetInformation/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDatasetInformation/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDatasetReference/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDatasetReference/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Types/IfcDatasetSelect/DocSelect.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Types/IfcDatasetSelect/Documentation.md
Labels: EXPRESS, IFC Tunnel

#457 Adding IfcObservation and IfcGeoScienceObservation
  IFC4x3/Constants/b/BOREHOLELOG_3$kT8EWsvCde2RhvkbDpPh.xml
  IFC4x3/Constants/g/GEOPHYSICALSURVEYRESULT_37zbh5yzDEngeKG31hfE1Y.xml
  IFC4x3/Constants/i/INSITUTESTRESULT_2P_cukS4f15hNF$L$M3Du9.xml
  IFC4x3/Constants/l/LABTESTRESULT_2XsgKLRhL7Ngp7nQbm_mzA.xml
  IFC4x3/Constants/l/LOCALINFORMATION_2OzC_HBRL65uOaJ8VkNnfJ.xml
  IFC4x3/Constants/m/MAPPEDFEATURE_1NxCCT1ufFdf6DiOSSB4Om.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcObservation/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcObservation/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceObservation/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceObservation/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGeoScienceObservationTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGeoScienceObservationTypeEnum/Documentation.md
Labels: EXPRESS, IFC Tunnel

#434 Add IfcFillElement/IfcFillElementType
  IFC4x3/Constants/a/ANNULARGAPFILL_07uxwqqhH6UAs7Wcl1pxIf.xml
  IFC4x3/Constants/i/INVERTFILL_0Rt828ifP9gPsg6uIL6_Mc.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcFillElement/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcFillElement/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcFillElementType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcFillElementType/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcFillElementTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#428 Added enumeration constants SIREN and BEACON to IfcAudioVisualApplianceTypeEnum
  IFC4x3/Constants/b/BEACON_3x$3FKFVb7We_GgoMWDAFd.xml
  IFC4x3/Constants/s/SIREN_3RQNBeym99uw43tIf$ckrf.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcAudioVisualApplianceTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#431 PDT changes for IfcDistributionSystemEnum
  IFC4x3/Constants/f/FIREPROTECTION_3DXDyU9IvAxeEaZ1cVyZ_M.xml
  IFC4x3/Constants/m/MONITORINGSYSTEM_0WEnaOfI926w4G$ZGge$3P.xml
  IFC4x3/Constants/s/SAFETY_1Pxj130uHFSPDGFuQSQy0c.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgServiceElements/Types/IfcDistributionSystemEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#458 Adding IfcVoxelData and subclasses
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/DocSchema.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcIntegerVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcIntegerVoxelData/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLabelVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLabelVoxelData/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLogicalVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLogicalVoxelData/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRealVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRealVoxelData/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVectorVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVectorVoxelData/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVoxelData/Documentation.md
Labels: EXPRESS, IFC Tunnel

#329 Adding IfcVoxelGrid
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/DocSchema.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcVoxelGrid/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcVoxelGrid/Documentation.md
Labels: EXPRESS

#430 Adding IfcEarthingElement/IfcEarthingElementType as new subtypes of IfcFlowTerminal/IfcFlowTerminalType
  IFC4x3/Constants/e/EARTHINGSTRIP_3Fh7NdPNTF3fo7Avf2LN6_.xml
  IFC4x3/Constants/f/FIXEDTERMINAL_3HhDuEn2f2nP6ZL0SQeoy3.xml
  IFC4x3/Constants/g/GROUNDINGMESH_1WFsqjqs54qPDn6VzU$xcd.xml
  IFC4x3/Constants/g/GROUNDINGPLATE_3lDZcwSjL5iAoe6FsC_G2e.xml
  IFC4x3/Constants/g/GROUNDINGROD_25zpcaPd9AvhSIrZdgJ$rm.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcEarthingElement/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcEarthingElement/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcEarthingElementType/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Entities/IfcEarthingElementType/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcEarthingElementTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#432 New PDTs for IfcBuiltSystem
  IFC4x3/Constants/f/FIREPROTECTION_2Z7j5jACn9tOoK92Pdiwhi.xml
  IFC4x3/Constants/t/TUNNEL_LINING_3GG06FvD9Ddh$$Aq0Z5LBC.xml
  IFC4x3/Constants/t/TUNNEL_PRESUPPORT_3A1Zcrq$fEERtMff4Wx0wB.xml
  IFC4x3/Constants/t/TUNNEL_SUPPORT_2$3RHla7b0IRdoUCSiKtqQ.xml
  IFC4x3/Constants/w/WATERPROOFING_3IiaB7cDLApRm8fR_5hiBk.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcBuiltSystemTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#433 New PDTs for IfcElementAssembly
  IFC4x3/Constants/d/DUCTBANK_2gyrzas65BMhu1elkYUn1T.xml
  IFC4x3/Constants/u/UMBRELLAVAULT_3vILUvLYn5ju_EZomFBcnZ.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcElementAssemblyTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#441 Add IfcPlate/LAGGING
  IFC4x3/Constants/l/LAGGING_0ktjQG6av2Gv8cg1n6O0K0.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcPlateTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#442 IfcDiscreteAccessory PDTs
  IFC4x3/Constants/s/STRUCTURAL_SEALING_2t1KHFto57Mw1LQsL6AV$Z.xml
  IFC4x3/Constants/w/WATER_BARRIER_0os3AKyc13t9bGOSSUjaAG.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedComponentElements/Types/IfcDiscreteAccessoryTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#443 IfcSpatialZone PDTs added
  IFC4x3/Constants/a/ANNULARGAP_3Vlhr2nMnDAAz6cbEQcr8c.xml
  IFC4x3/Constants/c/CLEARANCE_2WTa08IAn2wQFVvRSpIrPs.xml
  IFC4x3/Constants/c/COMPARTMENT_20kHsa1kLCyxTxHJ54B7uh.xml
  IFC4x3/Constants/i/INSTALLATION_2D66wVY_nAbOBz59GyPWGA.xml
  IFC4x3/Constants/i/INTERIOR_34ZqEp3dL1AutQ4sXmFDe$.xml
  IFC4x3/Constants/i/INVERT_3ak1q6i1jEY9NYIl0zD_62.xml
  IFC4x3/Constants/l/LINING_1VjsTyHmL7FR4wb4aqK2nR.xml
  IFC4x3/Constants/m/MAPPEDZONE_0jgnCtnpD0JQYvr$omoT_1.xml
  IFC4x3/Constants/s/SERVICE_3EKAMEZFjDHfh7cowOlS3c.xml
  IFC4x3/Constants/t/TESTEDZONE_2gohFTDWTFTOZNNsdm6sXs.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcSpatialZoneTypeEnum/DocEnumeration.xml
Labels: EXPRESS, IFC Tunnel

#450 Add IfcTunnel facility
  IFC4x3/Constants/a/ACCESSTUNNEL_1jIn37A7187hTPStcaKfTZ.xml
  IFC4x3/Constants/b/BICYCLE_2lhFU$YdD6XP4RsmxxY5vj.xml
  IFC4x3/Constants/b/BYPASS_2jI99HIO17PA1r8FJENTb4.xml
  IFC4x3/Constants/m/MAINTENANCE_1xudciPUb0$w22ErWC06oN.xml
  IFC4x3/Constants/m/METRO_15PaunGjH08AvH4QtQvcev.xml
  IFC4x3/Constants/p/PEDESTRIAN_0rM7HR1m935RxcwFciIlLH.xml
  IFC4x3/Constants/r/RAILWAY_1fgXouKxfCKBgsdXfDSFMy.xml
  IFC4x3/Constants/r/RAMP_1MJ_FtUb109AajOVMxsZWA.xml
  IFC4x3/Constants/r/ROAD_07A2TMI6D2W8IFdU8LrBld.xml
  IFC4x3/Constants/s/SHAFT_2uzymZWqf9Y90TnFzKCGn_.xml
  IFC4x3/Constants/u/UNDERGROUND_FACILITIES_020OKv8lr8UwT_CduZzUtE.xml
  IFC4x3/Constants/u/UTILITIES_0pjrYBkNLAoBFJNruDCxMv.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Entities/IfcTunnel/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Entities/IfcTunnel/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Types/IfcTunnelTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Types/IfcTunnelTypeEnum/Documentation.md
Labels: EXPRESS, IFC Tunnel

#451 Add IfcTunnelPart
  IFC4x3/Constants/c/CROSSWAY_3Y3NIOWJD52wfUbkZlpjH1.xml
  IFC4x3/Constants/p/PORTAL_3zcrKSGXz7CRm6KEi2bvzq.xml
  IFC4x3/Constants/r/RINGSECTION_0KE7eVRpr15P3CM5ZIQC_r.xml
  IFC4x3/Constants/t/TUNNELSECTION_1XQsxoKSb4eez6jAusGNv7.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Entities/IfcTunnelPart/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Entities/IfcTunnelPart/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Types/IfcTunnelPartTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Types/IfcTunnelPartTypeEnum/Documentation.md
Labels: EXPRESS, IFC Tunnel

#446 IfcReinforcedSoil=>IfcImprovedGround
  IFC4x3/Constants/d/DEEPMIXED_14tVPAsoP2txdXAOYfnl1T.xml
  IFC4x3/Constants/f/FROZEN_0W7s0LZvb3mw4M6kTGSKdj.xml
  IFC4x3/Constants/l/LATERALLYDRAINED_3nfik2BfzA7fXPiEi_Zj8M.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcImprovedGround/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcImprovedGround/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcReinforcedSoil/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcReinforcedSoil/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcImprovedGroundTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcImprovedGroundTypeEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcReinforcedSoilTypeEnum/Documentation.md
Labels: EXPRESS, IFC Tunnel

#445 Add IfcGroundReinforcmentElement
  IFC4x3/Constants/r/ROCKSUPPORTBOLT_3kMZmkJsz0JQCW4JqMKGMu.xml
  IFC4x3/Constants/s/SPILINGBOLT_3mnYt6TjvCr8gMeVT$TjD3.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGroundReinforcementElement/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGroundReinforcementElement/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGroundReinforcementElementTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGroundReinforcementElementTypeEnum/Documentation.md
Labels: EXPRESS, IFC Tunnel

#453 Associate qsets without applicability issue 281
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_CourseBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_EarthworksCutBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_EarthworksFillBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_ImpactProtectionDeviceBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_KerbBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_PavementBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_PictorialSignQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_ReinforcedSoilBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_SignBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_SignalBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_SurfaceFeatureBaseQuantities/DocQuantitySet.xml
Labels: properties

#471 jwg12 ifc4 IfcBuildingSystemTypeEnum
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcBuildingSystemTypeEnum/DocEnumeration.xml
Labels: EXPRESS

#476 Correcting Express functions
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Functions/IfcConstraintsParamBSpline/Expression.txt
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Functions/IfcNormalise/Expression.txt
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Functions/IfcSameAxis2Placement/Expression.txt
Labels: EXPRESS
