Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2023-11, with the labels that each got.

#669 Introduce IfcGeoScienceElementType including subtypes corresponding to subtypes of IfcGeoScienceElement
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcBorehole/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcBoreholeType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcBoreholeType/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceElementType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceElementType/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceFeature/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceFeatureType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceModel/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceModelType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcBoreholeTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGeoScienceFeatureTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGeoScienceModelTypeEnum/DocEnumeration.xml
Labels: documentation, EXPRESS

#572 Add Qto_ExcavationBaseQuantities
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_ExcavationBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/QuantitySets/Qto_ExcavationBaseQuantities/Documentation.md
Labels: IFC Tunnel, properties

#580 BookA-Pset_GeoObsBoreholeCommon
  IFC4x3/Properties/d/DepthRange_0NQ19_ZHX2QfMh8143pjcc/DocProperty.xml
  IFC4x3/Properties/d/DepthRange_0NQ19_ZHX2QfMh8143pjcc/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeCommon/Documentation.md
Labels: IFC Tunnel, properties

#675 error in DocEntity IfcGeoscienceElementType
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceElementType/DocEntity.xml
Labels: bug
