Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2023-03, with the labels that each got.

#521 IfcTendonConduit PDT modified to optional
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/Entities/IfcTendonConduit/DocEntity.xml
Labels: EXPRESS

#527 Remove Name from IfcVoxelData
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVoxelData/DocEntity.xml
Labels: EXPRESS

#529 remove Dim on IfcCompositeCurveSegment
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcCompositeCurveSegment/DocEntity.xml
Labels: EXPRESS

#531 Fix/530 rigid operation where fix
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcRepresentationResource/Entities/IfcRigidOperation/DocEntity.xml
Labels: EXPRESS

#533 spiral dimensions in IfcCurveDim function
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Functions/IfcCurveDim/Expression.txt
Labels: EXPRESS

#339 Road Property Set fixes
  IFC4x3/Properties/m/MaterialColour_3yAyxI68v5rR3KlzC79inK/DocProperty.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_CourseApplicationConditions/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_MarkingLinesCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_PavementCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_PavementMillingCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_RoadGuardElement/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_RoadMarkingCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_SumpBusterCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/PropertySets/Pset_TrafficCalmingDeviceCommon/DocPropertySet.xml
Labels: bug, properties

#340 Legacy property set fixes
  IFC4x3/Properties/l/LoadBearing_1s7fxao7L4X9mgLw5vDLbk/DocProperty.xml
  IFC4x3/Properties/l/LoadBearing_27gGzXJgHElgJNKZaas8aH/DocProperty.xml
  IFC4x3/Properties/l/LoadBearing_2FnJNsRdfDQ9dzEq8OinWs/DocProperty.xml
  IFC4x3/Properties/r/Reference_09uhUrGP96Dg7LCTKoeQZI/DocProperty.xml
  IFC4x3/Properties/r/Reference_1mSb87I6b0egBV57bTxz1d/DocProperty.xml
  IFC4x3/Properties/r/Reference_2KCLcfF8r35gUW6qE2nkg0/DocProperty.xml
  IFC4x3/Properties/r/Reference_36T0J90GnF1AFJynwsfDWJ/DocProperty.xml
  IFC4x3/Properties/t/ThermalTransmittance_3MLW9Uqir2HPZ8iRLwgUEW/DocProperty.xml
  IFC4x3/Properties/t/ThermalTransmittance_3YhweyeoP4yfJpfFi81P$3/DocProperty.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcBuildingControlsDomain/PropertySets/Pset_SensorTypeFrostSensor/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcBuildingControlsDomain/PropertySets/Pset_SensorTypeIdentifierSensor/DocPropertySet.xml
Labels: bug, properties

#544 Added a comma
  IFC4x3/Templates/Project Context/Project Declaration/Project Template Definitions/Documentation.md
Labels: documentation, Concept Templates

#545 updating IfcProject documentation
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcProject/Documentation.md
Labels: documentation, enhancement, general usage

#465 Removing IfcProxy and reference ObjectTypeEnum
  IFC4x3/Constants/a/ACTOR_2zWDIH3AT3hgU5psp$z_vN.xml
  IFC4x3/Constants/c/CONTROL_1gx9IYZFP9wPQx6qJEj0Ye.xml
  IFC4x3/Constants/g/GROUP_0s5gBclnb95hTRY9gmWXCO.xml
  IFC4x3/Constants/n/NOTDEFINED_2a_4TL0G16ewwNN7TsWHTY.xml
  IFC4x3/Constants/p/PROCESS_2JYRjstXX17BL02r3riQDH.xml
  IFC4x3/Constants/p/PRODUCT_3tF8ZpPF95LwINicYCYiHT.xml
  IFC4x3/Constants/p/PROJECT_2SCV3RLdv7Hhd_$LfJv6f$.xml
  IFC4x3/Constants/r/RESOURCE_1Z9sskNLz3HAGGmFi2lXTe.xml
Labels: EXPRESS

#337 P&W Property Sets fixes
  IFC4x3/Properties/b/BoreholeState_1VopAZOTj308bCkHC7bFi5/DocProperty.xml
  IFC4x3/Properties/e/EnergySourceType_1mlnyMavn0XvUzU0A9esFc/DocProperty.xml
  IFC4x3/Properties/e/EnergySourceType_1mlnyMavn0XvUzU0A9esFc/Documentation.md
  IFC4x3/Properties/e/EnergySource_0yj3k0qSOHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/e/EnergySource_1mlnyMavn0XvUzU0A9esFc/DocProperty.xml
  IFC4x3/Properties/h/HydraulicConductivity_0n5hy7wA9CGeRruzAkgVAG/DocProperty.xml
  IFC4x3/Properties/l/LoadBearingCapacityArea_2r2w0IRgj2ZPPZHhlnoADU/DocProperty.xml
  IFC4x3/Properties/l/LoadBearingCapacityArea_2r2w0IRgj2ZPPZHhlnoADU/Documentation.md
  IFC4x3/Properties/l/LoadbearingCapacity_2r2w0IRgj2ZPPZHhlnoADU/DocProperty.xml
  IFC4x3/Properties/l/LoadbearingCapacity_2r2w0IRgj2ZPPZHhlnoADU/Documentation.md
  IFC4x3/Properties/m/MaintenanceLevel_1iqiV1Bdv9kP1zFmTnxXvA/DocProperty.xml
  IFC4x3/Properties/m/MaximumConstantSpeed_2GnYKK37P2XxUFvvgs8uSy/DocProperty.xml
  IFC4x3/Properties/p/PerformanceMaintenanceLevel_1iqiV1Bdv9kP1zFmTnxXvA/DocProperty.xml
  IFC4x3/Properties/p/PerformanceMaintenanceLevel_1iqiV1Bdv9kP1zFmTnxXvA/Documentation.md
  IFC4x3/Properties/p/ProcessItem_0yXM2dwTn71gpxHeftzb$S/DocProperty.xml
  IFC4x3/Properties/p/ProcessPerformance_2nqNIMRDj0LAY1mI3ZvbZH/DocProperty.xml
  IFC4x3/Properties/p/PwaveVelocity_25QNLFrcX23AOU3hgpu9do/DocProperty.xml
  IFC4x3/Properties/s/SwaveVelocity_0Zt9yzVWjF3QUsVuryk8eT/DocProperty.xml
  IFC4x3/PropertyEnumerations/b/PEnum_BoreholeState.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcPortsAndWaterwaysDomain/PropertySets/Pset_EnergyRequirements/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcPortsAndWaterwaysDomain/PropertySets/Pset_MarinePartChamberCommon/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcPortsAndWaterwaysDomain/PropertySets/Pset_MarineVehicleCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedFacilitiesElements/PropertySets/Pset_MaintenanceTriggerPerformance/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SolidStratumCapacity/DocPropertySet.xml
Labels: bug, properties

#555 Fix IfcGradientCurve documentation typo
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcGradientCurve/Documentation.md
Labels: documentation, Legacy
