Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2023-06, with the labels that each got.

#646 CT Dataset Association
  IFC4x3/Templates/Object Association/Dataset Association/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Association/Dataset Association/Documentation.md
Labels: IFC Tunnel, Concept Templates

#620 Include IfcURIReference in the IfcSimpleValue SELECT
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Types/IfcSimpleValue/DocSelect.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Types/IfcSimpleValue/Documentation.md
Labels: EXPRESS, IFC Tunnel

#613 IfcGeotechTypicalSection => IfcTunnelTypicalSection
  IFC4x3/Constants/e/EXCAVATIONSUPPORTSECTION_0KQghsrLn7UxPpIpEEcV4_.xml
  IFC4x3/Constants/e/EXCAVATIONSUPPORT_0KQghsrLn7UxPpIpEEcV4_.xml
  IFC4x3/Constants/g/GEOTECHTYPICALSECTION_1V8YeK3DXAxwY3SVvMcwhP.xml
  IFC4x3/Constants/g/GEOTECH_1V8YeK3DXAxwY3SVvMcwhP.xml
  IFC4x3/Constants/r/RISKSECTION_0_xLQYGGf2HeSWUApnI29d.xml
  IFC4x3/Constants/r/RISK_0_xLQYGGf2HeSWUApnI29d.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Entities/IfcTunnelTypicalSection/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Entities/IfcTunnelTypicalSection/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Types/IfcTunnelTypicalSectionTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcTunnelDomain/Types/IfcTunnelTypicalSectionTypeEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeotechTypicalSection/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeotechTypicalSection/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGeotechTypicalSectionTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcGeotechTypicalSectionTypeEnum/Documentation.md
Labels: EXPRESS, IFC Tunnel

#656 adding Assignment To Product template
  IFC4x3/Templates/Object Assignment/Assignment to Product/DocTemplateDefinition.xml
Labels: Concept Templates

#653 Generalizing CT Earthworks Cuttings to Excavation Cuttings
  IFC4x3/Templates/Object Composition/Element Voiding/Earthworks Cuttings/Documentation.md
  IFC4x3/Templates/Object Composition/Element Voiding/Excavation Cuttings/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Element Voiding/Excavation Cuttings/Documentation.md
Labels: Concept Templates

#655 feature/guide curve
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcEarthworksCut/Documentation.md
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Guide Curve Geometry/DocTemplateDefinition.xml
Labels: IFC Tunnel, general usage, Concept Templates

#567 Pset_ExcavationCommon
  IFC4x3/Properties/b/BulkingFactor_3Uxd60AAr21eGcLI8RmIS$/DocProperty.xml
  IFC4x3/Properties/b/BulkingFactor_3Uxd60AAr21eGcLI8RmIS$/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ExcavationCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ExcavationCommon/Documentation.md
Labels: IFC Tunnel, properties

#582 BookA-Pset_GeoObsBoreholeGeoLogInterval
  IFC4x3/Properties/f/FractureIndex_2g$diqZkvF5QTVAB4_JcMO/DocProperty.xml
  IFC4x3/Properties/f/FractureIndex_2g$diqZkvF5QTVAB4_JcMO/Documentation.md
  IFC4x3/Properties/g/GeologyCode_1haXibmFT39BKx1k_TwkeU/DocProperty.xml
  IFC4x3/Properties/g/GeologyCode_1haXibmFT39BKx1k_TwkeU/Documentation.md
  IFC4x3/Properties/r/RockQualityDesignation_2OwiKpq$T2WBhXOg_6HYJQ/DocProperty.xml
  IFC4x3/Properties/r/RockQualityDesignation_2OwiKpq$T2WBhXOg_6HYJQ/Documentation.md
  IFC4x3/Properties/s/SolidCoreRecovery_00Xk2UDNv8yQeOebTR368_/DocProperty.xml
  IFC4x3/Properties/s/SolidCoreRecovery_00Xk2UDNv8yQeOebTR368_/Documentation.md
  IFC4x3/Properties/t/TotalCoreRecovery_0Q7mU7oh9C1AczkUB_dSwZ/DocProperty.xml
  IFC4x3/Properties/t/TotalCoreRecovery_0Q7mU7oh9C1AczkUB_dSwZ/Documentation.md
  IFC4x3/Properties/w/Weathering_1Sb_Wrxcr569u3CJuzXzLj/DocProperty.xml
  IFC4x3/Properties/w/Weathering_1Sb_Wrxcr569u3CJuzXzLj/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeGeoLogInterval/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeGeoLogInterval/Documentation.md
Labels: IFC Tunnel, properties

#591 BookA-Pset_SpatialGeoObsMappedZoneCommon
  IFC4x3/Properties/g/GSI_0fHcCs3y9Fd95xSlbHGb0C/DocProperty.xml
  IFC4x3/Properties/g/GSI_0fHcCs3y9Fd95xSlbHGb0C/Documentation.md
  IFC4x3/Properties/q/Q-value_20r43TAl93mwVeOtXNHvj4/DocProperty.xml
  IFC4x3/Properties/q/Q-value_20r43TAl93mwVeOtXNHvj4/Documentation.md
  IFC4x3/Properties/r/RMR_1FyiAF9_X6qxr7V$dZ3Yiv/DocProperty.xml
  IFC4x3/Properties/r/RMR_1FyiAF9_X6qxr7V$dZ3Yiv/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsMappedZoneCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsMappedZoneCommon/Documentation.md
Labels: IFC Tunnel, properties

#607 BookA-Pset_InSituTestCommon
  IFC4x3/Properties/d/DepthRange_2ZH4HxFCT21QZcxH5WymAo/DocProperty.xml
  IFC4x3/Properties/d/DepthRange_2ZH4HxFCT21QZcxH5WymAo/Documentation.md
  IFC4x3/Properties/t/TestMethod_2o1_k$NgPFVvqCCR6GOF$0/DocProperty.xml
  IFC4x3/Properties/t/TestMethod_2o1_k$NgPFVvqCCR6GOF$0/Documentation.md
  IFC4x3/Properties/t/TestType_0bwKXZ2_vEmREG23P2KV6g/DocProperty.xml
  IFC4x3/Properties/t/TestType_0bwKXZ2_vEmREG23P2KV6g/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_InSituTestCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_InSituTestCommon/Documentation.md
Labels: IFC Tunnel, properties

#611 BookA-Pset_LabTestCommon
  IFC4x3/Properties/t/TestMethod_3AtmxC_ubC0PKlPID5SFFu/DocProperty.xml
  IFC4x3/Properties/t/TestMethod_3AtmxC_ubC0PKlPID5SFFu/Documentation.md
  IFC4x3/Properties/t/TestStandard_1dl93$6LnCXAW8eMV0BT07/DocProperty.xml
  IFC4x3/Properties/t/TestStandard_1dl93$6LnCXAW8eMV0BT07/Documentation.md
  IFC4x3/Properties/t/TestType_0R_wrpT5H45vAClA39wdC1/DocProperty.xml
  IFC4x3/Properties/t/TestType_0R_wrpT5H45vAClA39wdC1/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_LabTestCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_LabTestCommon/Documentation.md
Labels: IFC Tunnel, properties

#615 BookB-Pset_GeoScienceFeatureTypeContact
  IFC4x3/Properties/d/DipDirection_17WEfvK3L9Ehv8Rdn5AK_c/DocProperty.xml
  IFC4x3/Properties/d/DipDirection_17WEfvK3L9Ehv8Rdn5AK_c/Documentation.md
  IFC4x3/Properties/g/GeoContactType_0cv0MyVAnAzeuvZv_LHADf/DocProperty.xml
  IFC4x3/Properties/g/GeoContactType_0cv0MyVAnAzeuvZv_LHADf/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeContact/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeContact/Documentation.md
Labels: IFC Tunnel, properties
