Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2023-02, with the labels that each got.

#502 Fix Typo
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLinearZone/Documentation.md
Labels: documentation

#498 Added project Dataset Information template
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Templates/Project Context/Project Dataset Information/DocTemplateDefinition.xml
  IFC4x3/Templates/Project Context/Project Dataset Information/Documentation.md
Labels: IFC Tunnel, general usage, Concept Templates

#501 IfcDatasetReference.ReferencedDataset/Description => optional
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDatasetReference/DocEntity.xml
Labels: EXPRESS, IFC Tunnel

#508 CT/GU Project Global Positioning Mapped
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Templates/Project Context/Project Global Positioning Mapped/DocTemplateDefinition.xml
Labels: IFC Tunnel, general usage, Concept Templates

#490 Fixes #486
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcArchElement/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcArchElement/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcArchElementType/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcArchElementType/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcArchElementTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcArchElementTypeEnum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcFillElementTypeEnum/Documentation.md
Labels: EXPRESS, IFC Tunnel

#479 jwg12 add ifc stripped optional
  IFC4x3/Constants/a/ACTOR_2zWDIH3AT3hgU5psp$z_vN.xml
  IFC4x3/Constants/c/CONTROL_1gx9IYZFP9wPQx6qJEj0Ye.xml
  IFC4x3/Constants/g/GROUP_0s5gBclnb95hTRY9gmWXCO.xml
  IFC4x3/Constants/n/NOTDEFINED_2a_4TL0G16ewwNN7TsWHTY.xml
  IFC4x3/Constants/p/PROCESS_2JYRjstXX17BL02r3riQDH.xml
  IFC4x3/Constants/p/PRODUCT_3tF8ZpPF95LwINicYCYiHT.xml
  IFC4x3/Constants/p/PROJECT_2SCV3RLdv7Hhd_$LfJv6f$.xml
  IFC4x3/Constants/r/RESOURCE_1Z9sskNLz3HAGGmFi2lXTe.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcProduct/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcProxy/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcProxy/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcRelAssigns/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Functions/IfcCorrectObjectAssignment/DocFunction.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Functions/IfcCorrectObjectAssignment/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Functions/IfcCorrectObjectAssignment/Expression.txt
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Types/IfcObjectTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Types/IfcObjectTypeEnum/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Types/IfcStrippedOptional/DocDefined.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Types/IfcStrippedOptional/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportationDevice/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportationDeviceType/DocEntity.xml
Labels: EXPRESS

#506 CT and GU for Project Global Positioning Geodetic
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Templates/Project Context/Project Global Positioning Geodetic/DocTemplateDefinition.xml
Labels: IFC Tunnel, general usage, Concept Templates

#477 jwg12 Delete IfcBearingTypeDisplacementEnum
  IFC4x3/Constants/f/FIXED_MOVEMENT_0YH$8cUVn5GRAf1Fq1TwL2.xml
  IFC4x3/Constants/f/FREE_MOVEMENT_2dET0BHYnBAf3JBqvhUGm4.xml
  IFC4x3/Constants/g/GUIDED_LONGITUDINAL_3DPJ26$lXCPelCXQJXEDeA.xml
  IFC4x3/Constants/g/GUIDED_TRANSVERSAL_0S_quCUwDC38nf2gssvuAH.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Types/IfcBearingTypeDisplacementEnum/DocEnumeration.xml
Labels: EXPRESS

#470 Feature/polygonal faceset texture
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/DocSchema.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcIndexedPolygonalFace/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcPolygonalFaceSet/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationAppearanceResource/DocSchema.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationAppearanceResource/Entities/IfcIndexedPolygonalTextureMap/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationAppearanceResource/Entities/IfcIndexedPolygonalTextureMap/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationAppearanceResource/Entities/IfcTextureCoordinateIndices/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationAppearanceResource/Entities/IfcTextureCoordinateIndices/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationAppearanceResource/Entities/IfcTextureCoordinateIndicesWithVoids/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationAppearanceResource/Entities/IfcTextureCoordinateIndicesWithVoids/Documentation.md
  IFC4x3/figures/ifcindexedpolygonaltexturemap_01.png
Labels: EXPRESS

#468 Adding inverse attribute IfcGroup.ReferencedInStructures
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/DocSchema.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcKernel/Entities/IfcGroup/DocEntity.xml
Labels: EXPRESS

#466 Feature/ifc virtual element
  IFC4x3/Constants/b/BOUNDARY_0D9uazImf8vO$PVKzXao_2.xml
  IFC4x3/Constants/c/CLEARANCE_0hS5MhQVv57hIehqvLOgZ9.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVirtualElement/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcVirtualElementTypeEnum/DocEnumeration.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Types/IfcVirtualElementTypeEnum/Documentation.md
Labels: EXPRESS

#514 Express schema <> serialization
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcBridgePart/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcFacilityPartCommon/DocEntity.xml
Labels: EXPRESS

#519 Fix typo in parabolic transition segment
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcSpatialStructureElement/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcTransportElement/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVehicle/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralAnalysisDomain/Entities/IfcStructuralCurveAction/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralAnalysisDomain/Entities/IfcStructuralSurfaceAction/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcDateTimeResource/Entities/IfcTaskTime/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcCartesianPointList/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcTessellatedFaceSet/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcTessellatedItem/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcBSplineSurface/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Entities/IfcBSplineSurfaceWithKnots/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationOrganizationResource/Entities/IfcLightSourcePositional/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcPresentationOrganizationResource/Entities/IfcPresentationLayerAssignment/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcRepresentationResource/Entities/IfcGeometricRepresentationContext/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcTopologyResource/Entities/IfcVertex/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeotechnicalStratum/DocEntity.xml
  IFC4x3/Templates/Partial Templates/Geometry/Curve Segment Geometry/Parabolic Transition Segment/Documentation.md
Labels: Concept Templates

#512 Adding supertypes for IfcArchElement and IfcArchElementType
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcArchElement/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/Entities/IfcArchElementType/DocEntity.xml
Labels: bug, EXPRESS, IFC Tunnel

#516 Project Document Information template reference to IfcDocumentElectronicFormat
  IFC4x3/Templates/Project Context/Project Document Information/DocTemplateDefinition.xml
Labels: bug, Concept Templates

#420 Standardisation of predefined types for system fittings issue 142
  IFC4x3/Constants/c/CONNECTOR_3a4VU6NkD9DPvso_Qb71av.xml
  IFC4x3/Constants/j/JUNCTION_0rhNC_wFT94xjdq$K4E1gd.xml
  IFC4x3/Constants/t/TRANSITION_0CI__p8jP4mw0Jp3mnq_fL.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcCableCarrierFittingTypeEnum/DocEnumeration.xml
Labels: EXPRESS

#520 Rename CT/GU Project Global Positioning Geodetic
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Templates/Project Context/Project Global Positioning Geographic/DocTemplateDefinition.xml
Labels: general usage, Concept Templates
