Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2024-07, with the labels that each got.

#862 Remove xtra Reference property
  IFC4x3/Properties/r/Reference_2XCyA0qUSHuO00025QrE$V/DocProperty.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcBuildingControlsDomain/PropertySets/Pset_FlowInstrumentTypeCommon/DocPropertySet.xml
Labels: IFC Tunnel, properties, reconcile

#570 Pset_UndergroundExcavationCommon
  IFC4x3/Properties/e/ExcavationClass_0M$dI8P5T3I8$lTN_LlVyH/DocProperty.xml
  IFC4x3/Properties/e/ExcavationClass_0M$dI8P5T3I8$lTN_LlVyH/Documentation.md
  IFC4x3/Properties/r/RoundLength_2Px7GAEKr9oPOVi4hIhBDX/DocProperty.xml
  IFC4x3/Properties/r/RoundLength_2Px7GAEKr9oPOVi4hIhBDX/Documentation.md
  IFC4x3/Properties/s/SupportClass_09LzP6dcn6OAdINBkUxEqS/DocProperty.xml
  IFC4x3/Properties/s/SupportClass_09LzP6dcn6OAdINBkUxEqS/Documentation.md
  IFC4x3/Properties/s/SupportDescription_2WLzTqjQX4igKvQThEIOuZ/DocProperty.xml
  IFC4x3/Properties/s/SupportDescription_2WLzTqjQX4igKvQThEIOuZ/Documentation.md
  IFC4x3/Properties/u/UndergroundExcavationMethod_0wE_9k6ETFpu7yxLk9g7XY/DocProperty.xml
  IFC4x3/Properties/u/UndergroundExcavationMethod_0wE_9k6ETFpu7yxLk9g7XY/Documentation.md
  IFC4x3/PropertyConstants/d/DRILLANDBLAST_00KRLQnVz458YtHD2YIx0G.xml
  IFC4x3/PropertyConstants/e/EXCAVATOR_0rAfHvdxLABxMamCK4KClB.xml
  IFC4x3/PropertyConstants/h/HAND_0F9q6FjrLCTetQI9ZR1ect.xml
  IFC4x3/PropertyConstants/j/JACKHAMMER_1dHd4UahHAV8ueYeTXWhrp.xml
  IFC4x3/PropertyConstants/o/OTHER_3SbFAR$KPEVxoRfHRsan7d.xml
  IFC4x3/PropertyConstants/r/RAISEDRILL_3hzUAZdvfCoBrr_ViMjw7C.xml
  IFC4x3/PropertyConstants/r/RIPPER_2$mZy7eOrA_8WXSk4PZm2l.xml
  IFC4x3/PropertyConstants/r/ROADHEADER_0VBQQMbf56Qw8Wixh2eaZE.xml
  IFC4x3/PropertyConstants/s/SHAFTBORINGMACHINE_14ioNguH96xf7P3qs6axrk.xml
  IFC4x3/PropertyConstants/t/TBMAIRPRESSUREFACESUPPORT_2QhkihvE11fg6HGkGbbW0x.xml
  IFC4x3/PropertyConstants/t/TBMCLOSEDWITHGRIPPERS_24tst5kj171RquDTEFq43J.xml
  IFC4x3/PropertyConstants/t/TBMEARTHPRESSUREFACESUPPORT_0wYhSRO4XEn8YlrKI$V1s3.xml
  IFC4x3/PropertyConstants/t/TBMMIXSHIELD_3vGYfI2xP7T8u$W0JdHb1m.xml
  IFC4x3/PropertyConstants/t/TBMOPENWITHGRIPPERS_09fnTqiJz5h8GrsXxxJ93y.xml
  IFC4x3/PropertyConstants/t/TBMSLURRYPRESSUREFACESUPPORT_1n4FkadiD1jf1uxAUvpHVV.xml
  IFC4x3/PropertyEnumerations/u/PEnum_UndergroundExcavationMethod.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_UndergroundExcavationCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_UndergroundExcavationCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#597 BookA-Pset_BoreholeTestSPT & Pset_ChemicalLabTestLiquid
  IFC4x3/Properties/c/Ca2+_10wmfjd5PB5xuqHQBOdisp/DocProperty.xml
  IFC4x3/Properties/c/Ca2+_10wmfjd5PB5xuqHQBOdisp/Documentation.md
  IFC4x3/Properties/c/Cl-_1AyulzLmb7kh4MInlhCAEO/DocProperty.xml
  IFC4x3/Properties/c/Cl-_1AyulzLmb7kh4MInlhCAEO/Documentation.md
  IFC4x3/Properties/e/ElectricalConductivity_0JOFocHPD1Rxfnqm5NX9ca/DocProperty.xml
  IFC4x3/Properties/e/ElectricalConductivity_0JOFocHPD1Rxfnqm5NX9ca/Documentation.md
  IFC4x3/Properties/e/Emodulus_1Bctvx1L570B_eZVJbTFB8/DocProperty.xml
  IFC4x3/Properties/e/Emodulus_1Bctvx1L570B_eZVJbTFB8/Documentation.md
  IFC4x3/Properties/h/HCO3-_1Ov1VDlGf0wwH8$gwlFai2/DocProperty.xml
  IFC4x3/Properties/h/HCO3-_1Ov1VDlGf0wwH8$gwlFai2/Documentation.md
  IFC4x3/Properties/k/K+_2jm5TRU9TFhudeUCIbbCmE/DocProperty.xml
  IFC4x3/Properties/k/K+_2jm5TRU9TFhudeUCIbbCmE/Documentation.md
  IFC4x3/Properties/m/Mg2+_0IKcZxoxn5JhgLbQZ83Wbl/DocProperty.xml
  IFC4x3/Properties/m/Mg2+_0IKcZxoxn5JhgLbQZ83Wbl/Documentation.md
  IFC4x3/Properties/n/NO3-_2mojFkIZf0RgDdRrAmsAvG/DocProperty.xml
  IFC4x3/Properties/n/NO3-_2mojFkIZf0RgDdRrAmsAvG/Documentation.md
  IFC4x3/Properties/n/NValue_0ODh2KpO5Awv4vDj6gcncD/DocProperty.xml
  IFC4x3/Properties/n/NValue_0ODh2KpO5Awv4vDj6gcncD/Documentation.md
  IFC4x3/Properties/n/Na+_1yejeoaXj1gAsLahNn8Fv1/DocProperty.xml
  IFC4x3/Properties/n/Na+_1yejeoaXj1gAsLahNn8Fv1/Documentation.md
  IFC4x3/Properties/p/PHValue_0447Chz7H82wDEEo6Q3khK/DocProperty.xml
  IFC4x3/Properties/p/PHValue_0447Chz7H82wDEEo6Q3khK/Documentation.md
  IFC4x3/Properties/s/SO42-_0U5FAS_db4URK3Zf0YMJDR/DocProperty.xml
  IFC4x3/Properties/s/SO42-_0U5FAS_db4URK3Zf0YMJDR/Documentation.md
  IFC4x3/Properties/w/WaterTemperature_1K5VCc3ND6CQln9UD4cMgu/DocProperty.xml
  IFC4x3/Properties/w/WaterTemperature_1K5VCc3ND6CQln9UD4cMgu/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialWater/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_BoreholeTestSPT/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_BoreholeTestSPT/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#598 BookA-Pset_ChemicalLabTestSolid
  IFC4x3/Properties/a/AsContent_3gj7BIvwT8S8u8sGvaHIBb/DocProperty.xml
  IFC4x3/Properties/a/AsContent_3gj7BIvwT8S8u8sGvaHIBb/Documentation.md
  IFC4x3/Properties/c/CdContent_0qniTK$wv25vsXuAYWfca9/DocProperty.xml
  IFC4x3/Properties/c/CdContent_0qniTK$wv25vsXuAYWfca9/Documentation.md
  IFC4x3/Properties/c/CrContent_0ijitX2mHAefsn6tigqyY3/DocProperty.xml
  IFC4x3/Properties/c/CrContent_0ijitX2mHAefsn6tigqyY3/Documentation.md
  IFC4x3/Properties/c/CuContent_0arger_T9BI8SOL5EIy2u7/DocProperty.xml
  IFC4x3/Properties/c/CuContent_0arger_T9BI8SOL5EIy2u7/Documentation.md
  IFC4x3/Properties/h/HgContent_1F_XTqiBD9dQNNlCtXJFbZ/DocProperty.xml
  IFC4x3/Properties/h/HgContent_1F_XTqiBD9dQNNlCtXJFbZ/Documentation.md
  IFC4x3/Properties/m/MnContent_0o8MhlkZ53UQY$AE8JFW5B/DocProperty.xml
  IFC4x3/Properties/m/MnContent_0o8MhlkZ53UQY$AE8JFW5B/Documentation.md
  IFC4x3/Properties/n/NiContent_1dnmq$hVHFi9E_V6sx8uof/DocProperty.xml
  IFC4x3/Properties/n/NiContent_1dnmq$hVHFi9E_V6sx8uof/Documentation.md
  IFC4x3/Properties/o/OrganicMatterContent_0CMY_nRMTF7vr$SfHyXInr/DocProperty.xml
  IFC4x3/Properties/o/OrganicMatterContent_0CMY_nRMTF7vr$SfHyXInr/Documentation.md
  IFC4x3/Properties/p/PbContent_1CZd8smoT6YPhHy6oCCq8c/DocProperty.xml
  IFC4x3/Properties/p/PbContent_1CZd8smoT6YPhHy6oCCq8c/Documentation.md
  IFC4x3/Properties/t/TS_3TIrUqMFzEHxl56bjVXyxc/DocProperty.xml
  IFC4x3/Properties/t/TS_3TIrUqMFzEHxl56bjVXyxc/Documentation.md
  IFC4x3/Properties/z/ZnContent_02nVJY8$5Dmgcog95HvuLM/DocProperty.xml
  IFC4x3/Properties/z/ZnContent_02nVJY8$5Dmgcog95HvuLM/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialSolid/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialSolid/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#603 BookA-Pset_GeoObsLineation
  IFC4x3/Properties/a/Azimuth_3tcOpOfonDMBHMpepLcNuB/DocProperty.xml
  IFC4x3/Properties/a/Azimuth_3tcOpOfonDMBHMpepLcNuB/Documentation.md
  IFC4x3/Properties/d/DefiningElement_2ZmUzi2L1FPfWOuad7mKFO/DocProperty.xml
  IFC4x3/Properties/d/DefiningElement_2ZmUzi2L1FPfWOuad7mKFO/Documentation.md
  IFC4x3/Properties/l/LineationType_133IV34718eB2pTloYu4BE/DocProperty.xml
  IFC4x3/Properties/l/LineationType_133IV34718eB2pTloYu4BE/Documentation.md
  IFC4x3/Properties/p/Plunge_0jANEsqIjD28q6omcrafcL/DocProperty.xml
  IFC4x3/Properties/p/Plunge_0jANEsqIjD28q6omcrafcL/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsLineation/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsLineation/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#616 BookB-Pset_GeoScienceFeatureTypeDiscontinuity
  IFC4x3/Properties/c/Cohesion_0TtDZk$qPAvwTsHe72Iikw/DocProperty.xml
  IFC4x3/Properties/c/Cohesion_0TtDZk$qPAvwTsHe72Iikw/Documentation.md
  IFC4x3/Properties/d/DiscontinuityAperture_1$QA6RBqr9RARD6tIYf9PS/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityAperture_1$QA6RBqr9RARD6tIYf9PS/Documentation.md
  IFC4x3/Properties/d/DiscontinuityFilling_0oNOrk83X1qOyXWFFmxs63/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityFilling_0oNOrk83X1qOyXWFFmxs63/Documentation.md
  IFC4x3/Properties/d/DiscontinuityWaterPresence_13x1J$ipnCAAAJyT_0MNF4/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityWaterPresence_13x1J$ipnCAAAJyT_0MNF4/Documentation.md
  IFC4x3/Properties/m/MenardPressuremeterModulus_3QXrblA1LFxhymk$1IR2rv/DocProperty.xml
  IFC4x3/Properties/p/PressuremeterType_1y3JjznIn4hQPFaA5mCFy3/DocProperty.xml
  IFC4x3/Properties/r/RockQualityDesignation_2o32BT3ZX4bO$w85z$rZ25/DocProperty.xml
  IFC4x3/Properties/r/RockQualityDesignation_2o32BT3ZX4bO$w85z$rZ25/Documentation.md
  IFC4x3/Properties/s/StrikeDirection_2OgLQou3zDDO0kYsfjEdze/DocProperty.xml
  IFC4x3/Properties/s/StrikeDirection_2OgLQou3zDDO0kYsfjEdze/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeDiscontinuity/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeDiscontinuity/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#861 3rd Pset reconciliation
  IFC4x3/Properties/b/BendingStrength_1oJsaXinL0WvDVCL88_ITB/Documentation.md
  IFC4x3/Properties/n/NominalLength_3OohBqhOr7qe_LKHtDErK8/DocProperty.xml
  IFC4x3/Properties/n/NominalLength_3OohBqhOr7qe_LKHtDErK8/Documentation.md
  IFC4x3/Properties/p/Pressure_3CIho6yXrEuwXjE1K1d5gp/DocProperty.xml
  IFC4x3/Properties/t/TemperatureSetPoint_3N_YJBMXv4rv$PWDUvcSff/DocProperty.xml
  IFC4x3/Properties/t/TemperatureSetPoint_3N_YJBMXv4rv$PWDUvcSff/Documentation.md
  IFC4x3/Properties/t/Temperature_2X4Q_Kl0H0EBR1WDZY8wN$/DocProperty.xml
  IFC4x3/Properties/t/Temperature_2X4Q_Kl0H0EBR1WDZY8wN$/Documentation.md
  IFC4x3/Properties/t/TensileStrength_0hLYMBp_XD19T1MBlKy5SN/DocProperty.xml
  IFC4x3/Properties/t/TensileStrength_0hLYMBp_XD19T1MBlKy5SN/Documentation.md
  IFC4x3/Properties/t/TensileStrength_1ZuJdL4cPBOuLWEzKCV5K4/DocProperty.xml
  IFC4x3/Properties/t/TensileStrength_1ZuJdL4cPBOuLWEzKCV5K4/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcBuildingControlsDomain/PropertySets/Pset_UnitaryControlElementTypeThermostat/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_CableSegmentTypeBusBarSegment/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_CableSegmentTypeConductorSegment/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_CableSegmentTypeCoreSegment/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_ElementSize/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_FittingTransition/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableCarrierSegmentTypeCatenaryWire/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableCarrierSegmentTypeCatenaryWire/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableCarrierSegmentTypeDropper/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableSegmentTypeContactWire/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableSegmentTypeContactWire/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableSegmentTypeStitchWire/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableSegmentTypeStitchWire/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_CableSegmentTypeWirePairSegment/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_DiscreteAccessoryTypeInsulator/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_DiscreteAccessoryTypeTensioningEquipment/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_ElectricalFeederLine/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_MemberTypePost/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_SpringTensioner/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_SymmetricPairCable/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamInPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamInPlaneNegative/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamOutOfPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelInPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelOutOfPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelOutOfPlaneNegative/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgServiceElements/PropertySets/Pset_DistributionPortTypeDuct/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgServiceElements/PropertySets/Pset_DistributionPortTypePipe/DocPropertySet.xml
Labels: IFC Tunnel, properties, reconcile

#860 add partial concept template for WKT
  IFC4x3/Templates/Partial Templates/Coordinate Reference System in WKT/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Coordinate Reference System in WKT/Documentation.md
Labels: EXPRESS

#621 BookB-Pset_GeoScienceFeatureTypeFault
  IFC4x3/Properties/d/DipDirection_17WEfvK3L9Ehv8Rdn5AK_c/Documentation.md
  IFC4x3/Properties/f/FaultActivity_2JUec9o7r0AvVBR7Pu457g/DocProperty.xml
  IFC4x3/Properties/f/FaultActivity_2JUec9o7r0AvVBR7Pu457g/Documentation.md
  IFC4x3/Properties/f/FaultDeformationStyle_1lYGGx_1jCCxEUZce$aPdE/DocProperty.xml
  IFC4x3/Properties/f/FaultDeformationStyle_1lYGGx_1jCCxEUZce$aPdE/Documentation.md
  IFC4x3/Properties/f/FaultDisplacement_1SqeJ7wlr3KhX7hE0uIsj3/DocProperty.xml
  IFC4x3/Properties/f/FaultDisplacement_1SqeJ7wlr3KhX7hE0uIsj3/Documentation.md
  IFC4x3/Properties/f/FaultGeologicHistory_2VqusjTyz7Rwv4WEaW6XDu/DocProperty.xml
  IFC4x3/Properties/f/FaultGeologicHistory_2VqusjTyz7Rwv4WEaW6XDu/Documentation.md
  IFC4x3/Properties/f/FaultInfilling_2JZfahd4z6yxCGa85SabRQ/DocProperty.xml
  IFC4x3/Properties/f/FaultInfilling_2JZfahd4z6yxCGa85SabRQ/Documentation.md
  IFC4x3/Properties/f/FaultLength_3afQABxmjCF9PigO8LJ2xb/DocProperty.xml
  IFC4x3/Properties/f/FaultLength_3afQABxmjCF9PigO8LJ2xb/Documentation.md
  IFC4x3/Properties/f/FaultMovementType_1HEf8LNPb5ZAU_EKoyIhJa/DocProperty.xml
  IFC4x3/Properties/f/FaultMovementType_1HEf8LNPb5ZAU_EKoyIhJa/Documentation.md
  IFC4x3/Properties/f/FaultSlipDirection_1Bo9zfmPXBcf$1nNl3sOVz/DocProperty.xml
  IFC4x3/Properties/f/FaultSlipDirection_1Bo9zfmPXBcf$1nNl3sOVz/Documentation.md
  IFC4x3/Properties/m/MenardPressuremeterModulus_3QXrblA1LFxhymk$1IR2rv/DocProperty.xml
  IFC4x3/Properties/p/Plunge_0jANEsqIjD28q6omcrafcL/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeFault/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeFault/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#627 BookB-Pset_GeoScienceFeatureTypeIntactRock
  IFC4x3/Properties/e/Emodulus_0Tfz4hnAXCMOBE9sK0qAiG/DocProperty.xml
  IFC4x3/Properties/e/Emodulus_0Tfz4hnAXCMOBE9sK0qAiG/Documentation.md
  IFC4x3/Properties/g/GeologicalFormation_2bpjqV7bf5FRh$hybIccDv/DocProperty.xml
  IFC4x3/Properties/g/GeologicalFormation_2bpjqV7bf5FRh$hybIccDv/Documentation.md
  IFC4x3/Properties/m/MineralComposition_0_NdsEekX2ZBhbUfaRHNgY/DocProperty.xml
  IFC4x3/Properties/m/MineralComposition_0_NdsEekX2ZBhbUfaRHNgY/Documentation.md
  IFC4x3/Properties/p/PoissonRatio_2y5cHUFyL0rhO1Q97aJWbg/DocProperty.xml
  IFC4x3/Properties/p/PoissonRatio_2y5cHUFyL0rhO1Q97aJWbg/Documentation.md
  IFC4x3/Properties/u/UnconfinedCompressiveStrength_3y02KcJ79CL80neBRiH8Lp/DocProperty.xml
  IFC4x3/Properties/u/UnconfinedCompressiveStrength_3y02KcJ79CL80neBRiH8Lp/Documentation.md
  IFC4x3/Properties/v/VoidRatio_3iyX_eZCr9MgXBX7IpP$HN/DocProperty.xml
  IFC4x3/Properties/v/VoidRatio_3iyX_eZCr9MgXBX7IpP$HN/Documentation.md
  IFC4x3/Properties/w/Weathering_0e5dTwbh19SRXa21Al10uH/DocProperty.xml
  IFC4x3/Properties/w/Weathering_0e5dTwbh19SRXa21Al10uH/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeIntactRock/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeIntactRock/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#623 BookB-Pset_GeoScienceFeatureTypeFold
  IFC4x3/Properties/p/ProfileType_1AEKQiP7PFbuAGZ6obzmNO/DocProperty.xml
  IFC4x3/Properties/p/ProfileType_1AEKQiP7PFbuAGZ6obzmNO/Documentation.md
  IFC4x3/Properties/q/Quadrant_2KShyZ_Xf6twsGaPpAX7HT/DocProperty.xml
  IFC4x3/Properties/q/Quadrant_2KShyZ_Xf6twsGaPpAX7HT/Documentation.md
  IFC4x3/Properties/s/Strike_2QDp8uDwH5yOXoaLbKFWum/DocProperty.xml
  IFC4x3/Properties/s/Strike_2QDp8uDwH5yOXoaLbKFWum/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeFold/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeFold/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#626 BookB-Pset_GeoScienceFeatureTypeHydroGeoUnit
  IFC4x3/Properties/h/HydraulicPermeabilityHorizontal_0cGG3NyxfEXf7guGaaxUkx/DocProperty.xml
  IFC4x3/Properties/h/HydraulicPermeabilityHorizontal_0cGG3NyxfEXf7guGaaxUkx/Documentation.md
  IFC4x3/Properties/h/HydraulicPermeabilityVertical_1aKYiWegb7iPXpy4cjfbOY/DocProperty.xml
  IFC4x3/Properties/h/HydraulicPermeabilityVertical_1aKYiWegb7iPXpy4cjfbOY/Documentation.md
  IFC4x3/Properties/s/StorageCoefficient_36wybY1$X62RvbVDalUFnE/DocProperty.xml
  IFC4x3/Properties/s/StorageCoefficient_36wybY1$X62RvbVDalUFnE/Documentation.md
  IFC4x3/Properties/t/Transmissivity_1md2GJC9f2MflqkMhIDr4K/DocProperty.xml
  IFC4x3/Properties/t/Transmissivity_1md2GJC9f2MflqkMhIDr4K/Documentation.md
  IFC4x3/Properties/u/UnitDischarge_2j9UjMlrj7DQqFFjx5YGf1/DocProperty.xml
  IFC4x3/Properties/u/UnitDischarge_2j9UjMlrj7DQqFFjx5YGf1/Documentation.md
  IFC4x3/Properties/u/UnitRecharge_0CjjY8gGfAcQfADgdDjQOz/DocProperty.xml
  IFC4x3/Properties/u/UnitRecharge_0CjjY8gGfAcQfADgdDjQOz/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeHydroGeoUnit/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeHydroGeoUnit/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#628 BookB-Pset_GeoScienceFeatureTypePiezometricWaterLevel
  IFC4x3/Properties/e/Elevation_2IUsNzp9b5HxiNZd7EdtMT/DocProperty.xml
  IFC4x3/Properties/e/Elevation_2IUsNzp9b5HxiNZd7EdtMT/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypePiezometricWaterLevel/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypePiezometricWaterLevel/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#629 BookB-Pset_GeoScienceFeatureTypeRockMass
  IFC4x3/Properties/e/Emodulus_10zwR$ze1ElBZzkStdNfro/DocProperty.xml
  IFC4x3/Properties/e/Emodulus_10zwR$ze1ElBZzkStdNfro/Documentation.md
  IFC4x3/Properties/f/FrictionAngle_3D7neWa7f4ih$KjXeaqaqO/DocProperty.xml
  IFC4x3/Properties/f/FrictionAngle_3D7neWa7f4ih$KjXeaqaqO/Documentation.md
  IFC4x3/Properties/g/GeologicalStrengthIndex_1mKh3XC4vAkAZD1jzmwtzK/DocProperty.xml
  IFC4x3/Properties/g/GeologicalStrengthIndex_1mKh3XC4vAkAZD1jzmwtzK/Documentation.md
  IFC4x3/Properties/k/K0_3LHWuSc4f4oAmYOduGjUmW/DocProperty.xml
  IFC4x3/Properties/k/K0_3LHWuSc4f4oAmYOduGjUmW/Documentation.md
  IFC4x3/Properties/q/QValue_1bhEISWbXCwxu8IMpl$sWn/DocProperty.xml
  IFC4x3/Properties/q/QValue_1bhEISWbXCwxu8IMpl$sWn/Documentation.md
  IFC4x3/Properties/r/RockMassRating_2qdGAN$0PBMO5OKXlwlUlX/DocProperty.xml
  IFC4x3/Properties/r/RockMassRating_2qdGAN$0PBMO5OKXlwlUlX/Documentation.md
  IFC4x3/Properties/r/RockQualityDesignation_2o32BT3ZX4bO$w85z$rZ25/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeRockMass/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoScienceFeatureTypeRockMass/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#632 BookB-Pset_GeoSciencePropertiesCommon
  IFC4x3/Properties/d/DryBulkDensity_2Zd$lo7FL9eP39_zTeDr$R/DocProperty.xml
  IFC4x3/Properties/d/DryBulkDensity_2Zd$lo7FL9eP39_zTeDr$R/Documentation.md
  IFC4x3/Properties/g/GroundwaterTemperature_0hObIwIqv5UuZSJ1_btz05/DocProperty.xml
  IFC4x3/Properties/g/GroundwaterTemperature_0hObIwIqv5UuZSJ1_btz05/Documentation.md
  IFC4x3/Properties/p/PwaveVelocity_3PNsA2fgH81Aaey7kS$TDO/DocProperty.xml
  IFC4x3/Properties/p/PwaveVelocity_3PNsA2fgH81Aaey7kS$TDO/Documentation.md
  IFC4x3/Properties/r/Resistance_1HgnC0Qav6qxJDXOhpgisE/DocProperty.xml
  IFC4x3/Properties/r/Resistance_1HgnC0Qav6qxJDXOhpgisE/Documentation.md
  IFC4x3/Properties/r/Resistivity_0CD1$azajCjeK721qDipOz/DocProperty.xml
  IFC4x3/Properties/s/SwaveVelocity_1LvJ8TerD4XunolAqoyu8J/DocProperty.xml
  IFC4x3/Properties/s/SwaveVelocity_1LvJ8TerD4XunolAqoyu8J/Documentation.md
  IFC4x3/Properties/w/WetBulkDensity_0zymFCuR5CTx4wkxmFWmPt/DocProperty.xml
  IFC4x3/Properties/w/WetBulkDensity_0zymFCuR5CTx4wkxmFWmPt/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Types/IfcDerivedMeasureValue/DocSelect.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Types/IfcElectricalResistivityMeasure/DocDefined.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Types/IfcElectricalResistivityMeasure/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoSciencePropertiesCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoSciencePropertiesCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#676 EXC-GI_Pset_ImprovedGroundCommon
  IFC4x3/Properties/a/AvgDepthToTreatment_0k1nV7tkL5ZBpjOwXLSwpl/DocProperty.xml
  IFC4x3/Properties/a/AvgDepthToTreatment_0k1nV7tkL5ZBpjOwXLSwpl/Documentation.md
  IFC4x3/Properties/a/AvgTreatmentDepth_2ATszB7MD5rOdgrmtnn2wi/DocProperty.xml
  IFC4x3/Properties/a/AvgTreatmentDepth_2ATszB7MD5rOdgrmtnn2wi/Documentation.md
  IFC4x3/Properties/a/AvgTreatmentSpacing_3IwKbHD4H2mxQff$jGfKO3/DocProperty.xml
  IFC4x3/Properties/a/AvgTreatmentSpacing_3IwKbHD4H2mxQff$jGfKO3/Documentation.md
  IFC4x3/Properties/a/AvgTreatmentThickness_2FJiKS$wbFmwMZU50OhXL8/DocProperty.xml
  IFC4x3/Properties/a/AvgTreatmentThickness_2FJiKS$wbFmwMZU50OhXL8/Documentation.md
  IFC4x3/Properties/t/TreatmentHoleCount_3XN76C94L2pvK6fvVtToP7/DocProperty.xml
  IFC4x3/Properties/t/TreatmentHoleCount_3XN76C94L2pvK6fvVtToP7/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ImprovedGroundCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ImprovedGroundCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#677 EXC-GI_Pset_ImprovedGroundTypeInjectionGrouted
  IFC4x3/Properties/a/AsBuiltInjectionDuration_1v8RCK9RDAFeJdKmW$Cunu/DocProperty.xml
  IFC4x3/Properties/a/AsBuiltInjectionDuration_1v8RCK9RDAFeJdKmW$Cunu/Documentation.md
  IFC4x3/Properties/d/DrillholeAngle_2Iz1Ug0hH19wbi$s8Csly$/DocProperty.xml
  IFC4x3/Properties/d/DrillholeAngle_2Iz1Ug0hH19wbi$s8Csly$/Documentation.md
  IFC4x3/Properties/d/DrillholeCount_2$SNxqBr14fPN2tHxaHFdx/DocProperty.xml
  IFC4x3/Properties/d/DrillholeCount_2$SNxqBr14fPN2tHxaHFdx/Documentation.md
  IFC4x3/Properties/d/DrillholeDiameter_0AYonBcML4YQQy0$dhvZUY/DocProperty.xml
  IFC4x3/Properties/d/DrillholeDiameter_0AYonBcML4YQQy0$dhvZUY/Documentation.md
  IFC4x3/Properties/d/DrillholeDrifting_3$L$5j26j91P1kQ1lWGvER/DocProperty.xml
  IFC4x3/Properties/d/DrillholeDrifting_3$L$5j26j91P1kQ1lWGvER/Documentation.md
  IFC4x3/Properties/d/DrillholeLength_1WLtByELb10O_UIdeHHVGD/DocProperty.xml
  IFC4x3/Properties/d/DrillholeLength_1WLtByELb10O_UIdeHHVGD/Documentation.md
  IFC4x3/Properties/i/InjectionDistributionEquipment_2lnxV9oFn01AvbA6wexzaD/DocProperty.xml
  IFC4x3/Properties/i/InjectionDistributionEquipment_2lnxV9oFn01AvbA6wexzaD/Documentation.md
  IFC4x3/Properties/i/InjectionPackerType_3Nc5dkhQPFdAnZR5V5geX1/DocProperty.xml
  IFC4x3/Properties/i/InjectionPackerType_3Nc5dkhQPFdAnZR5V5geX1/Documentation.md
  IFC4x3/Properties/i/InjectionPhase_0fT68GhTX6Ou_9wM45hYLt/DocProperty.xml
  IFC4x3/Properties/i/InjectionPhase_0fT68GhTX6Ou_9wM45hYLt/Documentation.md
  IFC4x3/Properties/i/InjectionPressure_29eahe7Wr9cw6L65Rn8pJw/DocProperty.xml
  IFC4x3/Properties/i/InjectionPressure_29eahe7Wr9cw6L65Rn8pJw/Documentation.md
  IFC4x3/Properties/i/InsertedDeviceDiameter_3V8MuRReb9K8uXog2uN4dH/DocProperty.xml
  IFC4x3/Properties/i/InsertedDeviceDiameter_3V8MuRReb9K8uXog2uN4dH/Documentation.md
  IFC4x3/Properties/l/LongitudinalOverlap_28woezad9CpfySfEKH2kbf/DocProperty.xml
  IFC4x3/Properties/l/LongitudinalOverlap_28woezad9CpfySfEKH2kbf/Documentation.md
  IFC4x3/Properties/m/ManchetteSpacing_2kV4pAMCT6lgzNH8KhgyOL/DocProperty.xml
  IFC4x3/Properties/m/ManchetteSpacing_2kV4pAMCT6lgzNH8KhgyOL/Documentation.md
  IFC4x3/Properties/r/RadialSpacing_1TqgA7dOj47v0491hg3bm9/DocProperty.xml
  IFC4x3/Properties/r/RadialSpacing_1TqgA7dOj47v0491hg3bm9/Documentation.md
  IFC4x3/Properties/s/StopCriteria_0VnR5KKK1AMxLKKTmKRldq/DocProperty.xml
  IFC4x3/Properties/s/StopCriteria_0VnR5KKK1AMxLKKTmKRldq/Documentation.md
  IFC4x3/Properties/t/TAMTubesSpacing_3crl3aiib4G91_PCrBXmy0/DocProperty.xml
  IFC4x3/Properties/t/TAMTubesSpacing_3crl3aiib4G91_PCrBXmy0/Documentation.md
  IFC4x3/Properties/w/WorkflowProcess_2P1FpkQRT6cR$TKisPYw_h/DocProperty.xml
  IFC4x3/Properties/w/WorkflowProcess_2P1FpkQRT6cR$TKisPYw_h/Documentation.md
  IFC4x3/PropertyConstants/b/BULLFLEX_0JCiHlJ89AoO4D2kCC5MtK.xml
  IFC4x3/PropertyConstants/c/CONCURRENT_INJECTION_3kdOrCMPz1wBRQbPguBc0t.xml
  IFC4x3/PropertyConstants/d/DOUBLE_2K_S7o2NL2HRsUI$VGxbnC.xml
  IFC4x3/PropertyConstants/i/INJECTIONHOSE_2UvPJvFEzDIun42HhZfXkq.xml
  IFC4x3/PropertyConstants/i/INJECTIONTUBE_2bS3wKmPz7EROUu79Sb$oJ.xml
  IFC4x3/PropertyConstants/p/PETROLEUMPIPE_1DOsXH$Wv8ZupsEkuo3eEn.xml
  IFC4x3/PropertyConstants/p/PILLOW_1Jivo_665FLQFuArLBhCXo.xml
  IFC4x3/PropertyConstants/p/POST_INJECTION_2CnuihNB97xOAszUuLQ49f.xml
  IFC4x3/PropertyConstants/p/PRE_INJECTION_3IbCPYof9FqAdBUUyKDfEn.xml
  IFC4x3/PropertyConstants/s/SINGLE_3KgVX7SpbEdw5z3YsTv3Q5.xml
  IFC4x3/PropertyConstants/t/TUBESAMANCHETTE_2rLZ01TZXEo9OYGYuQneHM.xml
  IFC4x3/PropertyEnumerations/i/PEnum_InjectionDistributionEquipment.xml
  IFC4x3/PropertyEnumerations/i/PEnum_InjectionPackerType.xml
  IFC4x3/PropertyEnumerations/i/PEnum_InjectionPhase.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ImprovedGroundTypeInjectionGrouted/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ImprovedGroundTypeInjectionGrouted/Documentation.md
  IFC4x3/figures/ifcimprovedgroundgrouted-drillholeangle-detail.png
  IFC4x3/figures/ifcimprovedgroundgrouted-drillholeangle-overview.png
Labels: IFC Tunnel, properties, BucketB

#701 EXC-GI_PsetEarthworksCutTypeTrench
  IFC4x3/Properties/c/CatchmentArea_2p1YWircfCd8rNYaGGPhaC/DocProperty.xml
  IFC4x3/Properties/c/CatchmentArea_2p1YWircfCd8rNYaGGPhaC/Documentation.md
  IFC4x3/Properties/v/VolumetricCapacity_0dBcQhjmvDyAJkVkwc0QxW/DocProperty.xml
  IFC4x3/Properties/v/VolumetricCapacity_0dBcQhjmvDyAJkVkwc0QxW/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_EarthworksCutTypeTrench/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_EarthworksCutTypeTrench/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#714 EX-PS_Pset_PreSupportCommon
  IFC4x3/Properties/a/AreHolesGrouted_2pEnnTgZ57F8CFzhnE6a87/DocProperty.xml
  IFC4x3/Properties/a/AreHolesGrouted_2pEnnTgZ57F8CFzhnE6a87/Documentation.md
  IFC4x3/Properties/a/Arrangement_24IjDcPPnCph3L6$aDInL7/DocProperty.xml
  IFC4x3/Properties/a/Arrangement_24IjDcPPnCph3L6$aDInL7/Documentation.md
  IFC4x3/Properties/b/BoreholeOverlap_1bTfnQKz18HexhiWS49WG_/DocProperty.xml
  IFC4x3/Properties/b/BoreholeOverlap_1bTfnQKz18HexhiWS49WG_/Documentation.md
  IFC4x3/Properties/d/DrillingDiameter_2Fc6nsWWrCKRVtXwxE__CS/DocProperty.xml
  IFC4x3/Properties/d/DrillingDiameter_2Fc6nsWWrCKRVtXwxE__CS/Documentation.md
  IFC4x3/Properties/d/DrillingMethod_2tlZTCJoP5V9xcumCFudxO/Documentation.md
  IFC4x3/Properties/i/IsBoreholeCased_3JVj8MPWf9XRh6qY4yPdAo/DocProperty.xml
  IFC4x3/Properties/i/IsBoreholeCased_3JVj8MPWf9XRh6qY4yPdAo/Documentation.md
  IFC4x3/Properties/p/PreSupportLocation_2iM5GiTq558OyAc6GsixWz/DocProperty.xml
  IFC4x3/Properties/p/PreSupportLocation_2iM5GiTq558OyAc6GsixWz/Documentation.md
  IFC4x3/Properties/p/PreSupportType_2ThVWCaSXFCOlQAjGqDSIe/DocProperty.xml
  IFC4x3/Properties/p/PreSupportType_2ThVWCaSXFCOlQAjGqDSIe/Documentation.md
  IFC4x3/Properties/u/UsefulLength_3CH3oKGNr0XBmhsxbha8gU/DocProperty.xml
  IFC4x3/Properties/u/UsefulLength_3CH3oKGNr0XBmhsxbha8gU/Documentation.md
  IFC4x3/Properties/u/UserDefinedPreSupportLocation_31L_rs0AXFXOUbPqj2c38J/DocProperty.xml
  IFC4x3/Properties/u/UserDefinedPreSupportLocation_31L_rs0AXFXOUbPqj2c38J/Documentation.md
  IFC4x3/Properties/u/UserDefinedPreSupportType_2OMwxuX_5ADwNa98rEikYK/DocProperty.xml
  IFC4x3/Properties/u/UserDefinedPreSupportType_2OMwxuX_5ADwNa98rEikYK/Documentation.md
  IFC4x3/PropertyConstants/f/FOREPOLING_0WLdzl2rf2eeeG4odZAX_D.xml
  IFC4x3/PropertyConstants/f/FREEZING_15FjzODE56vw9bgEnS2MdD.xml
  IFC4x3/PropertyConstants/j/JETGROUTED_0ypLjHKBb1Dup8YhQ3tbXx.xml
  IFC4x3/PropertyConstants/p/PIPEUMBRELLA_2f7j0L1nf3PeSXRFbLMdEC.xml
  IFC4x3/PropertyConstants/s/SIMPLE_1iFWVvMbTCHPAsxuOx_5Ax.xml
  IFC4x3/PropertyConstants/s/SPILING_1boydmR0r9ZAsVu1fnhEs2.xml
  IFC4x3/PropertyConstants/s/STAGGERED_0ZDIDKlg9DFgbT_gYI$wTh.xml
  IFC4x3/PropertyConstants/t/TUNNELFACE_0V$iJvQuv1OAcSZu7sQWwx.xml
  IFC4x3/PropertyConstants/t/TUNNELVAULT_09$ob7YOXEWRTiAD$MWGVw.xml
  IFC4x3/PropertyEnumerations/p/PEnum_PreSupportArrangement.xml
  IFC4x3/PropertyEnumerations/p/PEnum_PreSupportLocation.xml
  IFC4x3/PropertyEnumerations/p/PEnum_PreSupportType.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_PreSupportCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_PreSupportCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#715 EX-PS_Pset_ElementAssemblyTypePreSupportVault
  IFC4x3/Properties/b/BoreholeGradient_225RK5rBrEBAwcf$dqwrFh/DocProperty.xml
  IFC4x3/Properties/b/BoreholeGradient_225RK5rBrEBAwcf$dqwrFh/Documentation.md
  IFC4x3/Properties/r/RadialSpacing_25znbD5O93kQ8QwsBqr1oq/DocProperty.xml
  IFC4x3/Properties/r/RadialSpacing_25znbD5O93kQ8QwsBqr1oq/Documentation.md
  IFC4x3/Properties/v/VaultOffset_2UKv6rv1538Phe36azkgWO/DocProperty.xml
  IFC4x3/Properties/v/VaultOffset_2UKv6rv1538Phe36azkgWO/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ElementAssemblyTypePreSupportVault/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ElementAssemblyTypePreSupportVault/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#717 EX-GI_Pset_GroundReinforcementElementTypePile
  IFC4x3/Properties/d/DistanceFromSurface_1GJthyvlP7KOg_1iksj$Vx/DocProperty.xml
  IFC4x3/Properties/d/DistanceFromSurface_1GJthyvlP7KOg_1iksj$Vx/Documentation.md
  IFC4x3/Properties/g/GroutBodyDiameter_2PVUuyOXLDSgXbqEVZOPKv/DocProperty.xml
  IFC4x3/Properties/g/GroutBodyDiameter_2PVUuyOXLDSgXbqEVZOPKv/Documentation.md
  IFC4x3/Properties/l/LengthEmbedmentInRock_1BHl2y49PD_ggO8$9sd9df/DocProperty.xml
  IFC4x3/Properties/l/LengthEmbedmentInRock_1BHl2y49PD_ggO8$9sd9df/Documentation.md
  IFC4x3/Properties/l/LengthGroutBody_1l1T$n9HP2kxZocCToc2NI/DocProperty.xml
  IFC4x3/Properties/l/LengthGroutBody_1l1T$n9HP2kxZocCToc2NI/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypePile/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypePile/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#718 EX-GI_Pset_GroundReinforcementElementTypeTube
  IFC4x3/Properties/t/TubeThickness_2$asiH00f8LgpWKouTPJnb/DocProperty.xml
  IFC4x3/Properties/t/TubeThickness_2$asiH00f8LgpWKouTPJnb/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypeTube/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypeTube/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#719 EX-GI_Pset_GroundReinforcementElementTypeBar
  IFC4x3/Properties/b/BarSectionType_36JQMyGJDC7xRwd_60klq0/DocProperty.xml
  IFC4x3/Properties/b/BarSectionType_36JQMyGJDC7xRwd_60klq0/Documentation.md
  IFC4x3/Properties/i/IsGrouted_3uTqQIVjvEjAXvCwtg5l_m/DocProperty.xml
  IFC4x3/Properties/i/IsGrouted_3uTqQIVjvEjAXvCwtg5l_m/Documentation.md
  IFC4x3/Properties/i/IsSelfDrilling_3WwKwa3Qj80x3m3RM3jYw9/DocProperty.xml
  IFC4x3/Properties/i/IsSelfDrilling_3WwKwa3Qj80x3m3RM3jYw9/Documentation.md
  IFC4x3/Properties/n/NominalDiameter_2QF5fCdFb1LPrQzIOCX_RZ/DocProperty.xml
  IFC4x3/Properties/n/NominalDiameter_2QF5fCdFb1LPrQzIOCX_RZ/Documentation.md
  IFC4x3/Properties/u/UserDefinedBarSectionType_2THcLIk5195hSLwiZLCKs_/DocProperty.xml
  IFC4x3/Properties/u/UserDefinedBarSectionType_2THcLIk5195hSLwiZLCKs_/Documentation.md
  IFC4x3/PropertyConstants/h/HOLLOW_0$ekjnn3bBlQ0MAbvmmNV8.xml
  IFC4x3/PropertyConstants/r/RIBBED_1Z6_KxliT3nxbSHCSePYOH.xml
  IFC4x3/PropertyConstants/s/SMOOTH_1DvzQxiTrAL8CHo3gJbf88.xml
  IFC4x3/PropertyEnumerations/b/PEnum_BarSectionType.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypeBar/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypeBar/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#720 EX-GI_Pset_GroundReinforcementElementTypePlate
  IFC4x3/Properties/n/NominalWidth_1iz8qzCsvEiApVczzesmrW/DocProperty.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypePlate/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypePlate/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#726 EX-GI_Pset_ImprovedGroundJetGrouted
  IFC4x3/Properties/a/AirPressure_0UInmj_h50IAIwdsP3KsR_/DocProperty.xml
  IFC4x3/Properties/a/AirPressure_0UInmj_h50IAIwdsP3KsR_/Documentation.md
  IFC4x3/Properties/d/DistanceFromSurface_2hh_Lii_P9XeiCvb$5SjCM/DocProperty.xml
  IFC4x3/Properties/d/DistanceFromSurface_2hh_Lii_P9XeiCvb$5SjCM/Documentation.md
  IFC4x3/Properties/g/GroundPressure_1jBfqbXjz0bBfljBTynV2j/DocProperty.xml
  IFC4x3/Properties/g/GroundPressure_1jBfqbXjz0bBfljBTynV2j/Documentation.md
  IFC4x3/Properties/g/GroutBodyDiameter_25qec0hKPDaBiR1Qtt66DX/DocProperty.xml
  IFC4x3/Properties/g/GroutBodyDiameter_25qec0hKPDaBiR1Qtt66DX/Documentation.md
  IFC4x3/Properties/g/GroutBodyLength_35IXCwXjn6DBMNwtA1JvqK/DocProperty.xml
  IFC4x3/Properties/g/GroutBodyLength_35IXCwXjn6DBMNwtA1JvqK/Documentation.md
  IFC4x3/Properties/j/JetGroutingMethod_1vOlBmVz9DAfg$mBl_DOiT/DocProperty.xml
  IFC4x3/Properties/j/JetGroutingMethod_1vOlBmVz9DAfg$mBl_DOiT/Documentation.md
  IFC4x3/Properties/l/LengthEmbedmentInRock_0KVr_JgdTCmvMy0tfADhco/DocProperty.xml
  IFC4x3/Properties/l/LengthEmbedmentInRock_0KVr_JgdTCmvMy0tfADhco/Documentation.md
  IFC4x3/Properties/r/RotationalSpeed_1XFhDz$Wr6ghIQ9AIkzOVX/DocProperty.xml
  IFC4x3/Properties/r/RotationalSpeed_1XFhDz$Wr6ghIQ9AIkzOVX/Documentation.md
  IFC4x3/Properties/w/WaterPressure_2kPNEvWOXCOx0LkHjz9Xi$/DocProperty.xml
  IFC4x3/Properties/w/WaterPressure_2kPNEvWOXCOx0LkHjz9Xi$/Documentation.md
  IFC4x3/PropertyConstants/s/SINGLEPHASE_02UOXxnXT5avv5f9a0H5xE.xml
  IFC4x3/PropertyConstants/t/THREEPHASE_3AcW6h4dH5q87O9olyDePh.xml
  IFC4x3/PropertyConstants/t/TWOPHASE_1yR_0LbtT8rfwWDiY3VgNR.xml
  IFC4x3/PropertyEnumerations/j/PEnum_JetGroutingMethod.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ImprovedGroundTypeJetGrouted/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_ImprovedGroundTypeJetGrouted/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#816 EX-SU-Pset_ReinforcingMeshCommon
  IFC4x3/Properties/a/AreaDensity_2zXs$B2Bz2kxUwiWQyK1Os/DocProperty.xml
  IFC4x3/Properties/a/AreaDensity_2zXs$B2Bz2kxUwiWQyK1Os/Documentation.md
  IFC4x3/Properties/n/NumberOfMeshLayers_1xLpRzB018EhsaurxTR7CZ/DocProperty.xml
  IFC4x3/Properties/n/NumberOfMeshLayers_1xLpRzB018EhsaurxTR7CZ/Documentation.md
  IFC4x3/Properties/o/OverlapLength_0vkCsg8vPFQRRT1mu2QiL9/DocProperty.xml
  IFC4x3/Properties/o/OverlapLength_0vkCsg8vPFQRRT1mu2QiL9/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/PropertySets/Pset_ReinforcingMeshCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/PropertySets/Pset_ReinforcingMeshCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#820 EX-SU-Pset_GroundReinforcementElementTypeTendon
  IFC4x3/Properties/a/AnchorageSlip_2UgD9v46jEhRDjnavSNqzR/DocProperty.xml
  IFC4x3/Properties/a/AnchorageSlip_2UgD9v46jEhRDjnavSNqzR/Documentation.md
  IFC4x3/Properties/c/CrossSectionArea_2C5h6JkUbAiuupCKgQxX5Z/DocProperty.xml
  IFC4x3/Properties/c/CrossSectionArea_2C5h6JkUbAiuupCKgQxX5Z/Documentation.md
  IFC4x3/Properties/f/FixedAnchorLength_3yEW81NlTADupBiIcyXmEa/DocProperty.xml
  IFC4x3/Properties/f/FixedAnchorLength_3yEW81NlTADupBiIcyXmEa/Documentation.md
  IFC4x3/Properties/f/FreeAnchorLength_0S210oTSH9qA4UjE0XGK_m/DocProperty.xml
  IFC4x3/Properties/f/FreeAnchorLength_0S210oTSH9qA4UjE0XGK_m/Documentation.md
  IFC4x3/Properties/f/FrictionCoefficient_1FHgJZeI9AQvoFPcY4HmIA/DocProperty.xml
  IFC4x3/Properties/f/FrictionCoefficient_1FHgJZeI9AQvoFPcY4HmIA/Documentation.md
  IFC4x3/Properties/p/PreStress_1AeV_jgFf4lQ6cpFxp6xKo/DocProperty.xml
  IFC4x3/Properties/p/PreStress_1AeV_jgFf4lQ6cpFxp6xKo/Documentation.md
  IFC4x3/Properties/s/SheathDiameter_3oEHCHEBvA8PGa16tDeoQ3/DocProperty.xml
  IFC4x3/Properties/s/SheathDiameter_3oEHCHEBvA8PGa16tDeoQ3/Documentation.md
  IFC4x3/Properties/t/TensionForce_3lnzOYG$X5VBKKmCOmDCiI/DocProperty.xml
  IFC4x3/Properties/t/TensionForce_3lnzOYG$X5VBKKmCOmDCiI/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypeTendon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GroundReinforcementElementTypeTendon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#821 EX-SU-Pset_ArchElementCommon
  IFC4x3/Properties/c/CentroidRadius_2diev9DK90Gvau__QLo_d5/DocProperty.xml
  IFC4x3/Properties/c/CentroidRadius_2diev9DK90Gvau__QLo_d5/Documentation.md
  IFC4x3/Properties/i/InnerRadius_0BzKrHVxX7DRQKw9ZKPhnG/DocProperty.xml
  IFC4x3/Properties/i/InnerRadius_0BzKrHVxX7DRQKw9ZKPhnG/Documentation.md
  IFC4x3/Properties/i/IsLoadBearing_1Z0YsPaSfERxoftwuOR8uQ/DocProperty.xml
  IFC4x3/Properties/i/IsLoadBearing_1Z0YsPaSfERxoftwuOR8uQ/Documentation.md
  IFC4x3/Properties/o/OuterRadius_3xvu9UFlDF_vR3H68vBS1w/DocProperty.xml
  IFC4x3/Properties/o/OuterRadius_3xvu9UFlDF_vR3H68vBS1w/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_ArchElementCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_ArchElementCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#823 EX-SU-Pset_MaterialSprayedConcrete
  IFC4x3/Properties/a/AspectRatio_1fn65ZfW93URZlaV1DMSyD/DocProperty.xml
  IFC4x3/Properties/a/AspectRatio_1fn65ZfW93URZlaV1DMSyD/Documentation.md
  IFC4x3/Properties/c/CompressiveStrength24h_3zFO54k7zE$hbebMKr9wo_/DocProperty.xml
  IFC4x3/Properties/c/CompressiveStrength24h_3zFO54k7zE$hbebMKr9wo_/Documentation.md
  IFC4x3/Properties/c/CompressiveStrength48h_2wVaHRlavFw8VGNtRRpVJa/DocProperty.xml
  IFC4x3/Properties/c/CompressiveStrength48h_2wVaHRlavFw8VGNtRRpVJa/Documentation.md
  IFC4x3/Properties/e/EarlyStrengthDevelopment_0xMZaUlN5EQRS7ruLVPHrd/DocProperty.xml
  IFC4x3/Properties/e/EarlyStrengthDevelopment_0xMZaUlN5EQRS7ruLVPHrd/Documentation.md
  IFC4x3/Properties/e/EnergyAbsportionCapacity28d_3UejlFN5n7GRaO5BEtDnYA/DocProperty.xml
  IFC4x3/Properties/e/EnergyAbsportionCapacity28d_3UejlFN5n7GRaO5BEtDnYA/Documentation.md
  IFC4x3/Properties/e/EnergyAbsportionCapacity7d_07C5C3$vz6oRj$ZmfzEQj0/DocProperty.xml
  IFC4x3/Properties/e/EnergyAbsportionCapacity7d_07C5C3$vz6oRj$ZmfzEQj0/Documentation.md
  IFC4x3/Properties/f/FibreDiameter_2AiOsSAiPEYh8W2tTL3V$g/DocProperty.xml
  IFC4x3/Properties/f/FibreDiameter_2AiOsSAiPEYh8W2tTL3V$g/Documentation.md
  IFC4x3/Properties/f/FibreLength_2UeiJ9HTnA0RPlmDtOHWGq/DocProperty.xml
  IFC4x3/Properties/f/FibreLength_2UeiJ9HTnA0RPlmDtOHWGq/Documentation.md
  IFC4x3/Properties/f/FibreType_0ZIZhcg8bFQgae_dc42mCB/DocProperty.xml
  IFC4x3/Properties/f/FibreType_0ZIZhcg8bFQgae_dc42mCB/Documentation.md
  IFC4x3/Properties/f/FibreVolumeRatio_1lDCr_KiHEZxCLwJ6YMCr2/DocProperty.xml
  IFC4x3/Properties/f/FibreVolumeRatio_1lDCr_KiHEZxCLwJ6YMCr2/Documentation.md
  IFC4x3/Properties/r/ResidualStrengthStructualClass_2M4sn4MkvDoPCXacy2_xw0/DocProperty.xml
  IFC4x3/Properties/r/ResidualStrengthStructualClass_2M4sn4MkvDoPCXacy2_xw0/Documentation.md
  IFC4x3/Properties/r/ResidualTensileStrengthfLk_3rh_yPnNbC7RdUAuRCMnHg/DocProperty.xml
  IFC4x3/Properties/r/ResidualTensileStrengthfLk_3rh_yPnNbC7RdUAuRCMnHg/Documentation.md
  IFC4x3/Properties/r/ResidualTensileStrengthfR1k_2tdtfQJTvDgxR2fqlv2GfM/DocProperty.xml
  IFC4x3/Properties/r/ResidualTensileStrengthfR1k_2tdtfQJTvDgxR2fqlv2GfM/Documentation.md
  IFC4x3/Properties/r/ResidualTensileStrengthfR3k_3eVnIQ8sXBYxb3JbnYq3du/DocProperty.xml
  IFC4x3/Properties/r/ResidualTensileStrengthfR3k_3eVnIQ8sXBYxb3JbnYq3du/Documentation.md
  IFC4x3/PropertyConstants/a/A_1n1cXjpnPF9Pr7eXfvEp5b.xml
  IFC4x3/PropertyConstants/b/B_2trCHsjuH3JR9heEuhAQhu.xml
  IFC4x3/PropertyConstants/c/C_2j1xDISq96pu0MmrsVKbUX.xml
  IFC4x3/PropertyConstants/d/D_0NG4NPQ8L7I9hRrtXaRA9F.xml
  IFC4x3/PropertyConstants/e/E_23CYZeuk5B1AEckvzA7Zoj.xml
  IFC4x3/PropertyConstants/g/GLASSFIBRE_3WSvCWNS16JxjkJM2UuxV1.xml
  IFC4x3/PropertyConstants/j/J1_00YaJA$LP2fha_uOuieevP.xml
  IFC4x3/PropertyConstants/j/J2_21zAb21wzClQCVdAysmmbm.xml
  IFC4x3/PropertyConstants/j/J3_3pOONqMqn1jwNEz4kG2pTx.xml
  IFC4x3/PropertyConstants/m/MACRO_POLYPROPYLEN_34oBiVetTFUwwVRAxaG5z9.xml
  IFC4x3/PropertyConstants/m/MICRO_POLYPROPYLEN_2nM7BbTt93IvW$5MCvMXEN.xml
  IFC4x3/PropertyConstants/s/STEEL_3VAyU_2LL4fQuNFWrTe$gg.xml
  IFC4x3/PropertyEnumerations/e/PEnum_EarlyStrengthDevelopment.xml
  IFC4x3/PropertyEnumerations/r/PEnum_ResidualStrengthStructuralClass.xml
  IFC4x3/PropertyEnumerations/s/PEnum_SprayedConcreteFibreType.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialSprayedConcrete/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialSprayedConcrete/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#826 EX-SU-Pset_MaterialGranular
  IFC4x3/Properties/g/Grading_3hHDlpC554pggyHq6uRDZ7/DocProperty.xml
  IFC4x3/Properties/g/Grading_3hHDlpC554pggyHq6uRDZ7/Documentation.md
  IFC4x3/Properties/m/MaxGrainSize_3YDB6b_Sf2KuuKISWe02i6/DocProperty.xml
  IFC4x3/Properties/m/MaxGrainSize_3YDB6b_Sf2KuuKISWe02i6/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialGranular/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialGranular/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#734 Material usage for IfcImprovedGround
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcImprovedGround/DocEntity.xml
Labels: BucketB

#863 adding IfcIndexedColourMap to Body Voxel Geometry
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Voxel Geometry/DocTemplateDefinition.xml
Labels: Concept Templates

#831 SY-Pset_SoundGeneration
  IFC4x3/Properties/s/SoundPressureLevel_0w6C0kuKHCxwHMH3vR34Oa/DocProperty.xml
  IFC4x3/Properties/s/SoundPressureLevel_0w6C0kuKHCxwHMH3vR34Oa/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgServiceElements/PropertySets/Pset_SoundGeneration/DocPropertySet.xml
Labels: IFC Tunnel, properties, BucketB

#832 SY-IfcFan properties
  IFC4x3/Properties/d/DynamicLoad_1mwsvedSD15w8oYBVVJ6aM/DocProperty.xml
  IFC4x3/Properties/d/DynamicLoad_1mwsvedSD15w8oYBVVJ6aM/Documentation.md
  IFC4x3/Properties/e/EffectiveThrust_1ekGiZJAP4nBsEk83RlhQT/DocProperty.xml
  IFC4x3/Properties/e/EffectiveThrust_1ekGiZJAP4nBsEk83RlhQT/Documentation.md
  IFC4x3/Properties/e/EfficiencyPoint_2cbW2T9CPEk9B$EXGpp6o5/DocProperty.xml
  IFC4x3/Properties/e/EfficiencyPoint_2cbW2T9CPEk9B$EXGpp6o5/Documentation.md
  IFC4x3/Properties/n/NominalThrust_0473J1zsPCffpkaV4GfAVV/DocProperty.xml
  IFC4x3/Properties/n/NominalThrust_0473J1zsPCffpkaV4GfAVV/Documentation.md
  IFC4x3/Properties/s/StaticLoad_35jL348fLEw8Qtk01HBCmU/DocProperty.xml
  IFC4x3/Properties/s/StaticLoad_35jL348fLEw8Qtk01HBCmU/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_FanTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_FanTypeJet/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_FanTypeJet/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#731 Added DEWATERING PDT to IfcBoreholeTypeEnum from domain requirements.
  IFC4x3/Constants/d/DEWATERING_1_DFyk07500hCMguE1NTcw.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Types/IfcBoreholeTypeEnum/DocEnumeration.xml
Labels: BucketB

#834 SY-General Pset updates
  IFC4x3/Properties/m/MaximumShortCircuitCurrent_13Pj5R2Dr2uufzGEqODIOX/DocProperty.xml
  IFC4x3/Properties/m/MaximumShortCircuitCurrent_13Pj5R2Dr2uufzGEqODIOX/Documentation.md
  IFC4x3/Properties/r/RechargeTime_0t1t$3NL5CXB4ArojrVPpo/DocProperty.xml
  IFC4x3/Properties/r/RechargeTime_0t1t$3NL5CXB4ArojrVPpo/Documentation.md
  IFC4x3/Properties/r/RuntimeAtFullLoad_1Wa6XnYx56p8rACT$SifuH/DocProperty.xml
  IFC4x3/Properties/r/RuntimeAtFullLoad_1Wa6XnYx56p8rACT$SifuH/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_ElectricFlowStorageDeviceTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_ElectricalDeviceCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_ProtectiveDeviceTypeCircuitBreaker/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_ProtectiveDeviceTypeEarthingSwitch/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_ProtectiveDeviceTypeEarthingSwitch/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_SwitchingDeviceTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_TransformerTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_ElementSize/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_ElectricFlowStorageDeviceTypeBattery/DocPropertySet.xml
Labels: IFC Tunnel, properties, BucketB

#799 Adding IfcLinearZone Product Span Positioning usage
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLinearZone/DocEntity.xml
Labels: IFC Tunnel, general usage, BucketB

#824 EX-SU-Pset_ConcreteElementGeneralUpdate
  IFC4x3/Properties/r/ReinforcementType_2$OfGxKXj3x8NK_1AVp3LA/DocProperty.xml
  IFC4x3/Properties/r/ReinforcementType_2$OfGxKXj3x8NK_1AVp3LA/Documentation.md
  IFC4x3/PropertyConstants/b/BAR_3G6ckJ1p51YRNGLPn$_z0D.xml
  IFC4x3/PropertyConstants/f/FIBRE_0KMtzn$N93mwtw6Vpf6E1G.xml
  IFC4x3/PropertyConstants/m/MESH_3xrA4LyYTDXQNdeKMxss5b.xml
  IFC4x3/PropertyConstants/r/REINFORCEMENTCAGE_0LVQcnR113ofZVBH9ARE6F.xml
  IFC4x3/PropertyConstants/s/SLIPFORMED_1EMIC6hL56iBaWAE3$42Ol.xml
  IFC4x3/PropertyConstants/s/SPRAYED_DRY_3zQuFIQc5D_AZg9HF7zun_.xml
  IFC4x3/PropertyConstants/s/SPRAYED_WET_1K7hY64hDBQe59hbmdY$B6.xml
  IFC4x3/PropertyEnumerations/c/PEnum_ConcreteCastingMethod.xml
  IFC4x3/PropertyEnumerations/r/PEnum_ReinforcementType.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcStructuralElementsDomain/PropertySets/Pset_ConcreteElementGeneral/DocPropertySet.xml
Labels: IFC Tunnel, properties, BucketB

#822 EX-SU-Qto_ArchElementBaseQuantities
  IFC4x3/Quantities/c/CrossSectionArea_1BWpnfBwb1k82WvJ6vFVRf/DocQuantity.xml
  IFC4x3/Quantities/c/CrossSectionArea_1BWpnfBwb1k82WvJ6vFVRf/Documentation.md
  IFC4x3/Quantities/i/InnerSurfaceArea_1bO4eo9tXEOBFCON4r8KnZ/DocQuantity.xml
  IFC4x3/Quantities/i/InnerSurfaceArea_1bO4eo9tXEOBFCON4r8KnZ/Documentation.md
  IFC4x3/Quantities/l/Length_2U468iDh12lfpRdFjlDGpa/DocQuantity.xml
  IFC4x3/Quantities/l/Length_2U468iDh12lfpRdFjlDGpa/Documentation.md
  IFC4x3/Quantities/o/OuterSurfaceArea_2mAoRzZ$z88A2WGwJTVhZx/DocQuantity.xml
  IFC4x3/Quantities/o/OuterSurfaceArea_2mAoRzZ$z88A2WGwJTVhZx/Documentation.md
  IFC4x3/Quantities/v/Volume_2CqQYjJ9j9hh6$pEk2Cym9/DocQuantity.xml
  IFC4x3/Quantities/v/Volume_2CqQYjJ9j9hh6$pEk2Cym9/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/QuantitySets/Qto_ArchElementBaseQuantities/DocQuantitySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/QuantitySets/Qto_ArchElementBaseQuantities/Documentation.md
Labels: IFC Tunnel, quantities, BucketB

#865 switching usage IfcProjec.ProjectRepresentationContext Identifier and Type values
  IFC4x3/ModelViews/General Usage/DocModelView.xml
Labels: general usage

#867 Fix/alignment representation
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Functions/IfcAlignmentRepresentation/Expression.txt
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricConstraintResource/Functions/IfcCorrectLocalPlacement/Expression.txt
Labels: EXPRESS

#868 reconcile CTs
  IFC4x3/ModelViews/General Usage/DocModelView.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcAlignmentSegment/DocEntity.xml
  IFC4x3/Templates/Object Assignment/Assignment to Group/Alignment Grouping/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Assignment/Assignment to Group/Survey Elements Grouping/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Association/Material Association/Material Set/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Aggregation/Alignment Aggregation To Project/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Nesting/Alignment Layouts/Alignment Layout - Horizontal, Vertical and Cant/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Nesting/Alignment Layouts/Alignment Layout - Reusing Horizontal Layout/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Nesting/Alignment Layouts/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Composition/Nesting/Survey Elements Nesting/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Connectivity/Alignment Spatial Reference/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Definition/Property Sets/Property Sets for Contexts/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Definition/Property Sets/Property Sets for Materials/DocTemplateDefinition.xml
  IFC4x3/Templates/Object Definition/Property Sets/Property Sets for Profiles/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Profile Definition/Derived Profile Definition/Composite Profile Definition/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Profile Definition/Derived Profile Definition/DocTemplateDefinition.xml
  IFC4x3/Templates/Partial Templates/Profile Definition/Derived Profile Definition/Transformed Profile Definition/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry - Horizontal and Vertical/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry - Horizontal, Vertical and Cant/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry - Horizontal/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Alignment Geometry/Alignment Geometry - Segments/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Annotation Geometry/Set Of Survey Points/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Annotation Geometry/Single Survey Line/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Annotation Geometry/Single Survey Point Linearly Placed/DocTemplateDefinition.xml
  IFC4x3/Templates/Product Shape/Product Geometric Representation/Annotation Geometry/Single Survey Point/DocTemplateDefinition.xml
  IFC4x3/Templates/Project Context/Project Global Positioning Geographic/DocTemplateDefinition.xml
  IFC4x3/Templates/Project Context/Project Global Positioning Mapped/DocTemplateDefinition.xml
Labels: Concept Templates

#869 Fix remaining descriptions
  IFC4x3/Constants/s/STEELSTRAPS_3tBxsQu7XEn9Ysh_1vBFSC.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVoxelData/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/Types/IfcEarthingElementTypeEnum/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDatasetInformation/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDatasetReference/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDocumentInformation/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcExternalReferenceResource/Entities/IfcDocumentReference/DocEntity.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceFeatureType/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceModel/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/Entities/IfcGeoScienceModelType/Documentation.md
Labels: documentation, IFC Tunnel

#871 modifying documentation of IfcVoxelData,Body Voxel Geometry
  IFC4x3/ModelViews/General Usage/DocModelView.xml
Labels: documentation

#870 Geo GUs
  IFC4x3/ModelViews/General Usage/DocModelView.xml
Labels: IFC Tunnel, general usage, BucketC
