Repository bSI-InfraRoom/IFC-Specification, pull requests merged in 2024-05, with the labels that each got.

#759 Pset_B*-Reconciliation
  IFC4x3/Properties/c/CombustionChamberTemperature_1Gzpa0qSGHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/c/CombustionChamberTemperature_1Gzpa0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ConstructionMethod_3$0kC0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/d/DisplacementAccommodated_3WrFcexHH7Iur_SiiVHc94/DocProperty.xml
  IFC4x3/Properties/d/DisplacementAccommodated_3WrFcexHH7Iur_SiiVHc94/Documentation.md
  IFC4x3/Properties/d/DisplacementAccomodated_3WrFcexHH7Iur_SiiVHc94/DocProperty.xml
  IFC4x3/Properties/d/DisplacementAccomodated_3WrFcexHH7Iur_SiiVHc94/Documentation.md
  IFC4x3/Properties/e/ElevationOfRefHeight_2NCeO6qW97WvcuUYvV8Wxf/DocProperty.xml
  IFC4x3/Properties/e/ElevationOfRefHeight_2NCeO6qW97WvcuUYvV8Wxf/Documentation.md
  IFC4x3/Properties/e/ElevationOfTerrain_0XCfx2I4T8YQefsZ57NzAZ/DocProperty.xml
  IFC4x3/Properties/e/ElevationOfTerrain_0XCfx2I4T8YQefsZ57NzAZ/Documentation.md
  IFC4x3/Properties/e/EnergySource_0yj3k0qSOHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/e/EnergySource_2jyky0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/f/FireRating_0uXnw0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/f/FireRating_1ITJ40qSKHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/f/FireRating_1ITJ40qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/g/GrossPlannedArea_0L4AE0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/g/GrossPlannedArea_2WYZI0qSKHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/g/GrossPlannedArea_2WYZI0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/h/HeatOutput_3Ivs80qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/h/HeatOutput_3aoGK0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/i/IsPermanentID_3wFYy0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/l/LiningThickness_0ZvUzLlUn9gwgkgGSHJ0wI/Documentation.md
  IFC4x3/Properties/l/LoadBearingCapacity_2RBEe0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NetPlannedArea_0PFC40qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NetPlannedArea_2bvty0qSKHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/n/NetPlannedArea_2bvty0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NominalEfficiencyTable_3CMEg0qSGHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/n/NominalEfficiencyTable_3CMEg0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NominalEfficiency_3UEes0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NumberOfStoreys_0TQDw0qSKHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/n/NumberOfStoreys_0TQDw0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/o/OccupancyType_0GI__0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/p/PressureRating_1rwwm0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/r/RotationAccommodated_3HTi12lhD0vuMfKNNsFx$D/DocProperty.xml
  IFC4x3/Properties/r/RotationAccommodated_3HTi12lhD0vuMfKNNsFx$D/Documentation.md
  IFC4x3/Properties/r/RotationAccomodated_3HTi12lhD0vuMfKNNsFx$D/DocProperty.xml
  IFC4x3/Properties/r/RotationAccomodated_3HTi12lhD0vuMfKNNsFx$D/Documentation.md
  IFC4x3/Properties/s/Slope_0UvTS0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/SprinklerProtectionAutomatic_0C7z80qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/SprinklerProtectionAutomatic_2Lpv_0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/StructureIndicator_2VKNdQwen0Jf$Mx4BRfVvr/Documentation.md
  IFC4x3/Properties/t/ThermalTransmittance_1AjOo0qSKHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/w/WorkingPressureHistory_1D$4Y0qSGHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/w/WorkingPressureHistory_1D$4Y0qSGHuO00025QrE$V/Documentation.md
  IFC4x3/PropertyEnumerations/b/PEnum_BoreholeState.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/PropertySets/Pset_BridgeCommon/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/PropertySets/Pset_BuildingCommon/DocPropertySet.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/PropertySets/Pset_BuildingStoreyCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_BoilerPHistory/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_BoilerPHistory/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_BoilerTypeCommon/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_BoilerTypeSteam/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_BurnerTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_BearingCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_BearingCommon/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_BuildingElementProxyCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_BuildingElementProxyCommon/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_BoreholeCommon/Documentation.md
Labels: properties, reconcile

#773 Pset_H*-Reconciliation
  IFC4x3/Properties/a/AirPressureDropCurve_0Hszw0qUeHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/a/Arrangement_1mxIE0qUaHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/f/FlowArrangement_1mxIE0qUaHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/f/FlowArrangement_1mxIE0qUaHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/h/HumidifierApplication_3AxUa0qUaHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/h/HumidifierApplication_3AxUa0qUaHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NominalAirFlowRate_3Xb400qUaHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NumberOfPlates_2AZci0qUaHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/w/Weight_3MsQi0qUaHuO00025QrE$V/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_HeatExchangerTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_HumidifierTypeCommon/DocPropertySet.xml
Labels: properties, reconcile

#777 Pset_L*-Reconciliation
  IFC4x3/Properties/c/ColorAppearance_11rx60qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ColorRenderingIndex_1VfHQ0qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ColorTemperature_1PhpM0qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ColourAppearance_11rx60qUiHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/c/ColourAppearance_11rx60qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ColourRenderingIndex_1VfHQ0qUiHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/c/ColourRenderingIndex_1VfHQ0qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ColourTemperature_1PhpM0qUiHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/c/ColourTemperature_1PhpM0qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/i/IsPermanentID_1pwHE0qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/l/LampBallastType_0YsH_0qUiHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NumberOfSources_2aoKY0qUiHuO00025QrE$V/DocProperty.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcElectricalDomain/PropertySets/Pset_LampTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_LinearReferencingMethod/Documentation.md
Labels: properties, reconcile

#778 Pset_M*-Reconciliation
  IFC4x3/Properties/a/AntennaType_2PysPrqKj3aPWcff71DZsA/Documentation.md
  IFC4x3/Properties/a/ApplicableStructuralDesignMethod_3Fuv3RpRzFVwibS5OOzpOY/DocProperty.xml
  IFC4x3/Properties/a/ApplicableStructuralDesignMethod_3Fuv3RpRzFVwibS5OOzpOY/Documentation.md
  IFC4x3/Properties/a/AssemblyPlace_2V83A0qUmHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/b/BendingStrength_0mYnO4_dzB4Rfn5rgnJt$x/Documentation.md
  IFC4x3/Properties/c/CombustionTemperature_0_tS20qUqHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/CompressiveStrength_0gx8OSAsfDaR6Lagjl0obi/Documentation.md
  IFC4x3/Properties/c/CompressiveStrength_3gEaM0qUmHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/f/FireRating_20S6g0qV4HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/i/IsReducedResistanceFastening_0DOivAfc56c81gaVUiqBi8/Documentation.md
  IFC4x3/Properties/n/NumberOfAntennas_3pcohitgD84wYzTL$rzTOJ/DocProperty.xml
  IFC4x3/Properties/n/NumberOfCarriers_07xDxpcsn6yA144GO_a3fc/DocProperty.xml
  IFC4x3/Properties/n/NumberOfEmergencyTransceivers_2RrzYcZZf2sO3dp5bbzVgl/DocProperty.xml
  IFC4x3/Properties/n/NumberOfScrews_2if5qEscD9_PYBlf2PakRS/DocProperty.xml
  IFC4x3/Properties/r/Roll_1fCNq0qV4HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/SerialNumber_1MQ7c0qUmHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/Slope_1aRCa0qV4HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/SolarReflectanceBack_33C4E0qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/s/SolarReflectanceFront_37zFU0qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/s/SolarTransmittance_2SSWq0qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/s/SolarTransmittance_2SSWq0qUqHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/Span_1Ttb60qV4HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/SpecificHeatCapacity_078qY0qUuHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/SpecificHeatCapacity_2szxQ0qUmHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/s/StructuralGrade_2UyNw8E619$8aLUZDK0aNY/DocProperty.xml
  IFC4x3/Properties/s/StructuralGrade_2UyNw8E619$8aLUZDK0aNY/Documentation.md
  IFC4x3/Properties/t/ThermalConductivity_0Nqxw0qUuHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/t/ThermalIrEmissivityBack_2dBA80qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/t/ThermalIrEmissivityFront_2iYUo0qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/t/ThermalIrTransmittance_2XprU0qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/t/ThermalTransmittance_1qXAY0qV4HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/v/VisibleReflectanceBack_2tH860qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/v/VisibleReflectanceFront_2zEcA0qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/v/VisibleTransmittance_2LIly0qUqHuO00025QrE$V/DocProperty.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_MechanicalFastenerTypeRailJoint/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRailDomain/PropertySets/Pset_MemberTypeCatenaryStay/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialConcrete/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialSteel/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialWood/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialWoodBasedStructure/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MaterialWoodBasedStructure/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamInPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamInPlane/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamInPlaneNegative/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamInPlaneNegative/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamOutOfPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalBeamOutOfPlane/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelInPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelInPlane/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelOutOfPlane/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelOutOfPlane/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelOutOfPlaneNegative/DocPropertySet.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMaterialResource/PropertySets/Pset_MechanicalPanelOutOfPlaneNegative/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedFacilitiesElements/PropertySets/Pset_ManufacturerTypeInformation/Documentation.md
Labels: properties, reconcile

#787 Pset_T* Reconciliation
  IFC4x3/Properties/c/ClearDepth_0fnrY0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ClearHeight_0o7vE0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/c/ClearWidth_0WreS0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/d/Diameter_3pFWs0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/f/FireRating_0eTJm0qT0HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/h/Height_3fjAM0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/l/Length_20D9S0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/l/Length_3XN6g0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NominalDiameter_3583UJ6cD6cBUOPJ6Z7hRk/Documentation.md
  IFC4x3/Properties/n/NumberOfCircuits_1m7BU0qX8HuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/n/NumberOfCircuits_1m7BU0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NumberOfRows_1OHJE0qX8HuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/n/NumberOfSections_0ysIa0qX0HuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/n/NumberOfSections_0ysIa0qX0HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NumberOfSections_2zc2K0qX0HuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/n/NumberOfSections_2zc2K0qX0HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/n/NumberOfTrackCenters_3PJ_4twh11JeX78ftqwr0D/DocProperty.xml
  IFC4x3/Properties/r/RatedFrequency_2e0YIS0SP8ffTho62YkBSL/Documentation.md
  IFC4x3/Properties/r/Reference_2ZkamLdhP6IQpZJRqjyV$O/DocProperty.xml
  IFC4x3/Properties/r/Reference_2ZkamLdhP6IQpZJRqjyV$O/Documentation.md
  IFC4x3/Properties/t/TankNominalCapacity_06cwc0qX0HuO00025QrE$V/DocProperty.xml
  IFC4x3/Properties/t/TankNominalCapacity_06cwc0qX0HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/t/ThermalConductivity_1wrqo0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/t/ThermalConductivity_3RPec0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/t/Thickness_3HtI60qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Properties/t/TransformerVectorGroup_2LM0i803DFiO3qpXrGIAS7/Documentation.md
  IFC4x3/Properties/v/Volume_299MY0qX8HuO00025QrE$V/Documentation.md
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/PropertySets/Pset_TransportElementCommon/DocPropertySet.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/PropertySets/Pset_TransportElementCommon/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_TankTypeCommon/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_TankTypePreformed/DocPropertySet.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcHvacDomain/PropertySets/Pset_TankTypeSectional/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_Tiling/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgElements/PropertySets/Pset_Tiling/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgServiceElements/PropertySets/Pset_ThermalLoad/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedBldgServiceElements/PropertySets/Pset_ThermalLoad/Documentation.md
Labels: properties, reconcile

#793 Pset_Z* Reconciliation
  IFC4x3/Properties/g/GrossPlannedArea_3aRdaISbH6VwiKDVpXGI6$/Documentation.md
  IFC4x3/Properties/h/HandicapAccessible_1HRUy0qXaHuO00025QrE$V/Documentation.md
  IFC4x3/Properties/i/IsExternal_0e$iimlYf0nf_mS3leF5wV/Documentation.md
  IFC4x3/Properties/n/NetPlannedArea_30x9qx_FP9kRuQ6ZwfPT1O/Documentation.md
Labels: properties, reconcile

#800 voxel data and grid
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/DocSchema.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcIntegerVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLabelVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcLogicalVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcRealVoxelData/DocEntity.xml
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Entities/IfcVoxelData/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/DocSchema.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcVoxelGrid/DocEntity.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Functions/IfcListToExpandedArray/DocFunction.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Functions/IfcListToExpandedArray/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometryResource/Functions/IfcListToExpandedArray/Expression.txt
Labels: EXPRESS

#801 fix / alignment representation function
  IFC4x3/Sections/Core data schemas/Schemas/IfcProductExtension/Functions/IfcAlignmentRepresentation/Expression.txt
Labels: EXPRESS

#698 modulo arithmetic operator
  IFC4x3/Constants/m/MODULO_0RCXeadnPCge7Mvd_uagq2.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcCostResource/Entities/IfcAppliedValue/Documentation.md
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcCostResource/Types/IfcArithmeticOperatorEnum/DocEnumeration.xml
Labels: reconcile

#706 removing window door style
  IFC4x3/ModelViews/Coordination View/DocModelView.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Entities/IfcDoorStyle/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Entities/IfcDoorStyle/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Entities/IfcWindowStyle/DocEntity.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Entities/IfcWindowStyle/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcDoorStyleConstructionEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcDoorStyleConstructionEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcDoorStyleOperationEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcDoorStyleOperationEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcWindowPanelPositionEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcWindowStyleConstructionEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcWindowStyleConstructionEnum/Documentation.md
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcWindowStyleOperationEnum/DocEnumeration.xml
  IFC4x3/Sections/Domain specific data schemas/Schemas/IfcArchitectureDomain/Types/IfcWindowStyleOperationEnum/Documentation.md
Labels: reconcile

#707 Ifcurireference to ifcsimplevalue
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Types/IfcSimpleValue/DocSelect.xml
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcMeasureResource/Types/IfcSimpleValue/Documentation.md
Labels: EXPRESS, reconcile

#708 updating WR PolygonalBoundary to include IfcIndexedPolyCurve
  IFC4x3/Sections/Resource definition data schemas/Schemas/IfcGeometricModelResource/Entities/IfcPolygonalBoundedHalfSpace/DocEntity.xml
Labels: EXPRESS, reconcile

#581 BookA-Pset_GeoObsBoreholeConstruction
  IFC4x3/Properties/b/BoreholeFilter_3fE4eMnCT7eveQISamMQlZ/DocProperty.xml
  IFC4x3/Properties/b/BoreholeFilter_3fE4eMnCT7eveQISamMQlZ/Documentation.md
  IFC4x3/Properties/b/BoreholeInstallation_0o06vNWW901uy$1qJJssW7/DocProperty.xml
  IFC4x3/Properties/b/BoreholeInstallation_0o06vNWW901uy$1qJJssW7/Documentation.md
  IFC4x3/Properties/d/DrillingDiameter_32JL8Vw$L9BhN7Dgy0bzPU/DocProperty.xml
  IFC4x3/Properties/d/DrillingDiameter_32JL8Vw$L9BhN7Dgy0bzPU/Documentation.md
  IFC4x3/Properties/l/LiningMaterial_0mAA1gW8z7mevSgdceBIp5/DocProperty.xml
  IFC4x3/Properties/l/LiningMaterial_0mAA1gW8z7mevSgdceBIp5/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeConstruction/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeConstruction/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#583 BookA-Pset_GeoObsBoreholeGeophysicalInterval
  IFC4x3/Properties/d/DryBulkDensity_0nEw_cmQP96hsnDkHk7anm/DocProperty.xml
  IFC4x3/Properties/d/DryBulkDensity_0nEw_cmQP96hsnDkHk7anm/Documentation.md
  IFC4x3/Properties/e/Emodulus_0Tfz4hnAXCMOBE9sK0qAiG/DocProperty.xml
  IFC4x3/Properties/e/Emodulus_0Tfz4hnAXCMOBE9sK0qAiG/Documentation.md
  IFC4x3/Properties/g/GammaRay_0uQOo2p7L7gfdVTXwVzLwb/DocProperty.xml
  IFC4x3/Properties/g/GammaRay_0uQOo2p7L7gfdVTXwVzLwb/Documentation.md
  IFC4x3/Properties/g/GroundwaterTemperature_1yT1x2XOr6Bg_KMIHEoIuA/DocProperty.xml
  IFC4x3/Properties/h/HoleDiameter_2CRBoJG6P9xwWyupBQZ76M/DocProperty.xml
  IFC4x3/Properties/h/HoleDiameter_2CRBoJG6P9xwWyupBQZ76M/Documentation.md
  IFC4x3/Properties/p/PoissonRatio_2y5cHUFyL0rhO1Q97aJWbg/DocProperty.xml
  IFC4x3/Properties/p/PoissonRatio_2y5cHUFyL0rhO1Q97aJWbg/Documentation.md
  IFC4x3/Properties/s/SpontaneousPotential_0QWHw4BW90SxlAkUg4JefW/DocProperty.xml
  IFC4x3/Properties/s/SpontaneousPotential_0QWHw4BW90SxlAkUg4JefW/Documentation.md
  IFC4x3/Properties/w/WetBulkDensity_2I9krS8W54Uezs_moDPWYf/DocProperty.xml
  IFC4x3/Properties/w/WetBulkDensity_2I9krS8W54Uezs_moDPWYf/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeGeophysicalInterval/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsBoreholeGeophysicalInterval/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsPtObservationCommon/DocPropertySet.xml
Labels: IFC Tunnel, properties, BucketB

#586 BookA-Pset_GeoObsCommon
  IFC4x3/Properties/c/Comment_1TwvmDDDf2JPk_$_XfLkbr/DocProperty.xml
  IFC4x3/Properties/c/Comment_1TwvmDDDf2JPk_$_XfLkbr/Documentation.md
  IFC4x3/Properties/l/Lithology_0LdEScS1D9oRyQIFkXH3yi/DocProperty.xml
  IFC4x3/Properties/l/Lithology_0LdEScS1D9oRyQIFkXH3yi/Documentation.md
  IFC4x3/Properties/o/ObservationEndDate_1f3yCK9b927PPJI96ub41r/DocProperty.xml
  IFC4x3/Properties/o/ObservationEndDate_1f3yCK9b927PPJI96ub41r/Documentation.md
  IFC4x3/Properties/o/ObservationStartDate_0NUJ4QuQPDpehtroDooVHq/DocProperty.xml
  IFC4x3/Properties/o/ObservationStartDate_0NUJ4QuQPDpehtroDooVHq/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#589 BookA-Pset_SpatialGeoObsExcavatedZone
  IFC4x3/Properties/e/ExcavationFaceType_2a9lnvIGXBJf$bF3uy85d9/DocProperty.xml
  IFC4x3/Properties/e/ExcavationFaceType_2a9lnvIGXBJf$bF3uy85d9/Documentation.md
  IFC4x3/Properties/e/ExcavationMethod_2LuXUw8cfApBjhWYFbeWrd/DocProperty.xml
  IFC4x3/Properties/e/ExcavationMethod_2LuXUw8cfApBjhWYFbeWrd/Documentation.md
  IFC4x3/Properties/e/ExcavationStep_2DkWfNGnX34fa0JL31BjfI/DocProperty.xml
  IFC4x3/Properties/e/ExcavationStep_2DkWfNGnX34fa0JL31BjfI/Documentation.md
  IFC4x3/Properties/l/LogNumber_2H$tb9GtfCP9DRUp61IODv/DocProperty.xml
  IFC4x3/Properties/l/LogNumber_2H$tb9GtfCP9DRUp61IODv/Documentation.md
  IFC4x3/Properties/t/TunnelExcavationMethod_0IxY668fj68P9Wr33SXafb/DocProperty.xml
  IFC4x3/Properties/t/TunnelExcavationMethod_0IxY668fj68P9Wr33SXafb/Documentation.md
  IFC4x3/PropertyConstants/d/DRILLBLAST_3bec6TKInCg8SV2Gg__1WE.xml
  IFC4x3/PropertyConstants/i/INVERT_06n2TbV7f8kv7OTSu9X5iW.xml
  IFC4x3/PropertyConstants/t/TOPHEADING_1z1F5fkjT61x48KG7epN6M.xml
  IFC4x3/PropertyConstants/t/TUNNELFACE_0hTAyjm8X8Ygyas0SuVDB1.xml
  IFC4x3/PropertyConstants/t/TUNNELROOF_2i5q3MF9X22BwqoAUoBS9q.xml
  IFC4x3/PropertyConstants/t/TUNNELWALL_3j4G_n5q1FXutuj0WQnGqX.xml
  IFC4x3/PropertyEnumerations/e/PEnum_ExcavationFaceType.xml
  IFC4x3/PropertyEnumerations/e/PEnum_ExcavationMethod.xml
  IFC4x3/PropertyEnumerations/e/PEnum_ExcavationStep.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsExcavatedZone/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsExcavatedZone/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#590 BookA-Pset_SpatialGeoObsFieldOutcrop
  IFC4x3/Properties/a/AzimuthExposure_287QddVQ16w8cApdbLY7_Q/DocProperty.xml
  IFC4x3/Properties/a/AzimuthExposure_287QddVQ16w8cApdbLY7_Q/Documentation.md
  IFC4x3/Properties/s/SlopeAngle_1e_6tKMk1BoO7cfc4MFmey/DocProperty.xml
  IFC4x3/Properties/s/SlopeAngle_1e_6tKMk1BoO7cfc4MFmey/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsFieldOutcrop/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsFieldOutcrop/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#592 BookA-Pset_SpatialGeoObsSample
  IFC4x3/Properties/i/Identifier_3CVqGHgfj9xui_$tglS6m2/DocProperty.xml
  IFC4x3/Properties/i/Identifier_3CVqGHgfj9xui_$tglS6m2/Documentation.md
  IFC4x3/Properties/s/SampleBoreholeDepthRange_16N06qRHf0NOknS38zpWxi/DocProperty.xml
  IFC4x3/Properties/s/SampleBoreholeDepthRange_16N06qRHf0NOknS38zpWxi/Documentation.md
  IFC4x3/Properties/s/SampleProcedure_11BJJlK11Fr85RrFLwOBti/DocProperty.xml
  IFC4x3/Properties/s/SampleProcedure_11BJJlK11Fr85RrFLwOBti/Documentation.md
  IFC4x3/Properties/s/SamplePurpose_2iAtC8BjvBEhsp1U8MpM6Y/DocProperty.xml
  IFC4x3/Properties/s/SamplePurpose_2iAtC8BjvBEhsp1U8MpM6Y/Documentation.md
  IFC4x3/Properties/s/SampleType_0WMz0ZD4vElw3tlESF7X88/DocProperty.xml
  IFC4x3/Properties/s/SampleType_0WMz0ZD4vElw3tlESF7X88/Documentation.md
  IFC4x3/Properties/s/SamplingPointType_3snE6alTz82vidqo5JBy_l/DocProperty.xml
  IFC4x3/Properties/s/SamplingPointType_3snE6alTz82vidqo5JBy_l/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsSample/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsSample/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#593 BookA-SpatialGeoObsSensor
  IFC4x3/Properties/m/MeasurementEndTime_2h0TtkB$f46PgH3YITllt2/DocProperty.xml
  IFC4x3/Properties/m/MeasurementEndTime_2h0TtkB$f46PgH3YITllt2/Documentation.md
  IFC4x3/Properties/m/MeasurementStartTime_1e49rH$kr5xhN$GPo0KZPo/DocProperty.xml
  IFC4x3/Properties/m/MeasurementStartTime_1e49rH$kr5xhN$GPo0KZPo/Documentation.md
  IFC4x3/Properties/p/PlacementType_3Fx8gNev9BdO6QiED3BT8F/DocProperty.xml
  IFC4x3/Properties/p/PlacementType_3Fx8gNev9BdO6QiED3BT8F/Documentation.md
  IFC4x3/PropertyConstants/m/MONITORING_1ky2R_x7L68ApgSFkx9E2A.xml
  IFC4x3/PropertyConstants/s/SURVEY_0cx_0b$UPAtguYcWq75nTr.xml
  IFC4x3/PropertyEnumerations/s/Penum_SensorPlacementType.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsSensor/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_SpatialGeoObsSensor/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#599 BookA-Pset_GeoObsDiscontinuityCommon
  IFC4x3/Properties/d/DipAngle_2AwUZOVX992eTuSYTjeerL/DocProperty.xml
  IFC4x3/Properties/d/DipAngle_2AwUZOVX992eTuSYTjeerL/Documentation.md
  IFC4x3/Properties/d/DipDirection_2ECbWpcBD9gfOatn_dmz2$/DocProperty.xml
  IFC4x3/Properties/d/DipDirection_2ECbWpcBD9gfOatn_dmz2$/Documentation.md
  IFC4x3/Properties/d/DiscontinuityAperture_1TCPy13C92zPuCOEju$jod/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityAperture_1TCPy13C92zPuCOEju$jod/Documentation.md
  IFC4x3/Properties/d/DiscontinuityCohesion_1f3CPfTDP4_hW9D7kdBT5b/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityCohesion_1f3CPfTDP4_hW9D7kdBT5b/Documentation.md
  IFC4x3/Properties/d/DiscontinuityFrictionAngle_1QIEUQzzj61QvEZL4KqYmB/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityFrictionAngle_1QIEUQzzj61QvEZL4KqYmB/Documentation.md
  IFC4x3/Properties/d/DiscontinuityInFilling_2bLAkUOk95KPc7a3XyxzcW/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityInFilling_2bLAkUOk95KPc7a3XyxzcW/Documentation.md
  IFC4x3/Properties/d/DiscontinuityPersistence_03K4NkMlL77OQrLEIDA6QX/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityPersistence_03K4NkMlL77OQrLEIDA6QX/Documentation.md
  IFC4x3/Properties/d/DiscontinuityRoughness_0Hf64hl09A88FtMA190$UT/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityRoughness_0Hf64hl09A88FtMA190$UT/Documentation.md
  IFC4x3/Properties/d/DiscontinuitySpacing_0Ng07cMyPCy9WuDPLjdmv2/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuitySpacing_0Ng07cMyPCy9WuDPLjdmv2/Documentation.md
  IFC4x3/Properties/d/DiscontinuityType_1JP9rcjFXARB5hBdhk7ExF/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityType_1JP9rcjFXARB5hBdhk7ExF/Documentation.md
  IFC4x3/Properties/d/DiscontinuityWaterSeepage_37bDGHt1D5IeRZslC_HS3J/DocProperty.xml
  IFC4x3/Properties/d/DiscontinuityWaterSeepage_37bDGHt1D5IeRZslC_HS3J/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsDiscontinuityCommon/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsDiscontinuityCommon/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#600 BookA-Pset_GeoObsDiscontinuityFault
  IFC4x3/Properties/d/DeformationPhase_34v8HVl7D5$hjlWFWQDfkK/DocProperty.xml
  IFC4x3/Properties/d/DeformationPhase_34v8HVl7D5$hjlWFWQDfkK/Documentation.md
  IFC4x3/Properties/d/Displacement_2JpsASSV5Cifkpo$1F70wR/DocProperty.xml
  IFC4x3/Properties/d/Displacement_2JpsASSV5Cifkpo$1F70wR/Documentation.md
  IFC4x3/Properties/f/FaultLength_36HCJE4Fj1vAsieqy08nef/DocProperty.xml
  IFC4x3/Properties/f/FaultLength_36HCJE4Fj1vAsieqy08nef/Documentation.md
  IFC4x3/Properties/f/FaultPitchAngle_2amUo6QL91DeGgZLQHgMyf/DocProperty.xml
  IFC4x3/Properties/f/FaultPitchAngle_2amUo6QL91DeGgZLQHgMyf/Documentation.md
  IFC4x3/Properties/f/FaultSlipDirection_0_Rv9JVL5DTR1ugllbwXU4/DocProperty.xml
  IFC4x3/Properties/f/FaultSlipDirection_0_Rv9JVL5DTR1ugllbwXU4/Documentation.md
  IFC4x3/Properties/f/FaultThickness_3pHrpKqNzD2x2$n3ipmRil/DocProperty.xml
  IFC4x3/Properties/f/FaultThickness_3pHrpKqNzD2x2$n3ipmRil/Documentation.md
  IFC4x3/Properties/f/FaultType_2cTF3eVlf2_80LnK_n7O6x/DocProperty.xml
  IFC4x3/Properties/f/FaultType_2cTF3eVlf2_80LnK_n7O6x/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsDiscontinuityFault/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsDiscontinuityFault/Documentation.md
  IFC4x3/figures/FaultSlipDirection.png
Labels: IFC Tunnel, properties, BucketB

#602 BookA-Pset_GeoObsHydroGeologyWaterInflow
  IFC4x3/Properties/i/InflowRate_1Fbf$7xkPDquOoD4prK2TA/DocProperty.xml
  IFC4x3/Properties/i/InflowRate_1Fbf$7xkPDquOoD4prK2TA/Documentation.md
  IFC4x3/Properties/i/InflowSum_2OMwvg2WD9yQR5E1WntDRu/DocProperty.xml
  IFC4x3/Properties/i/InflowSum_2OMwvg2WD9yQR5E1WntDRu/Documentation.md
  IFC4x3/Properties/s/SourceArea_1BMVyQRuL1zRS08BFGzp4P/DocProperty.xml
  IFC4x3/Properties/s/SourceArea_1BMVyQRuL1zRS08BFGzp4P/Documentation.md
  IFC4x3/Properties/s/SourceType_1wNA_lF8j57Ati7DZewGaj/DocProperty.xml
  IFC4x3/Properties/s/SourceType_1wNA_lF8j57Ati7DZewGaj/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsHydroGeologyWaterInflow/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_GeoObsHydroGeologyWaterInflow/Documentation.md
Labels: IFC Tunnel, properties, BucketB

#596 BookA-Pset_BoreholetestPressuremeter
  IFC4x3/Properties/m/MenardLimitPressure_00Bl8r_Fv7u9veNYw6d5tJ/DocProperty.xml
  IFC4x3/Properties/m/MenardLimitPressure_00Bl8r_Fv7u9veNYw6d5tJ/Documentation.md
  IFC4x3/Properties/m/MenardLoadingUnloadingRatio_3NoxGP8K90k8Cg8dlw3vT7/DocProperty.xml
  IFC4x3/Properties/m/MenardLoadingUnloadingRatio_3NoxGP8K90k8Cg8dlw3vT7/Documentation.md
  IFC4x3/Properties/m/MenardPressuremeterModulus_3QXrblA1LFxhymk$1IR2rv/DocProperty.xml
  IFC4x3/Properties/m/MenardPressuremeterModulus_3QXrblA1LFxhymk$1IR2rv/Documentation.md
  IFC4x3/Properties/p/PressuremeterType_1y3JjznIn4hQPFaA5mCFy3/DocProperty.xml
  IFC4x3/Properties/p/PressuremeterType_1y3JjznIn4hQPFaA5mCFy3/Documentation.md
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_BoreholeTestPressuremeter/DocPropertySet.xml
  IFC4x3/Sections/Shared element data schemas/Schemas/IfcSharedInfrastructureElements/PropertySets/Pset_BoreholeTestPressuremeter/Documentation.md
Labels: IFC Tunnel, properties, BucketB
